@charset "utf-8";
.article-page {
    font-family: "宋体";
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background-color: #fff; }
.article-page .article-page-notice {
    margin: 0px 0px 20px 0px;
    border: 1px solid #e9e9e9;
    height: 40px;
    line-height: 40px;
    width: 1150px;
    text-align: left; }
.article-page .article-page-notice span {
    margin: 0 0px 0 12%; }
.article-page .article-title {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    background-color: #f5f8fa;
    border: 1px solid #e9e9e9; }
.article-page .article-page-left {
    width: 233px;
    text-align: left; }
.article-page .article-page-left .menu {
    padding-left: 10px;
    padding-top: 25px;
    min-height: 200px;
    border: 1px solid #e9e9e9;
    margin: -1px 0 40px 0px; }
.article-page .article-page-left .menu-cat {
    padding: 15px 0 0 5px;
    font-weight: bolder;
    font-size: 14px;
    color: #333; }
 .article-page .article-page-left .menu-cat .btn-i{cursor: pointer;}
.article-page .article-page-left .menu-cat .minus {
    background: url(../images/minus.png) no-repeat;
    height: 13px;
    line-height: 15px;
    padding-left: 20px; }
.article-page .article-page-left .menu-cat .plus {
    background: url(../images/plus.png) no-repeat;
    height: 13px;
    line-height: 15px;
    padding-left: 20px; }
.article-page .article-page-left .menu-article-a {
    color: #333; }
.article-page .article-page-left .active {
    color: #F8285C;
    font-weight: 700; }
.article-page .article-page-left .menu-article-ul {
    padding: 5px 0 0 0px;
    display: none;
    font-weight: normal;
    font-size: 12px; }
.article-page .article-page-left .menu-article-ul li {
    margin-top: 10px; }
.article-page .article-page-right {
    width: 900px;
    text-align: left; }
.article-page .article-page-right .article-content {
    overflow: scroll;
    overflow-x: hidden;
    height: 872px;
    padding: 30px 40px;
    border: 1px solid #e9e9e9;
    margin: -1px 0 40px 0px; }
.article-page .article-page-right .article-content ul.conten-article-ul {
    list-style-type: disc;
    color: #999; }
.article-page .article-page-right .article-content ul.conten-article-ul .conten-article-li {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #F3F3F3;
    cursor: pointer; }
.article-page .article-page-right .article-content ul.conten-article-ul .conten-article-li .arrow-up {
    background: url(../images/arrow-up.png) no-repeat;
    width: 10px;
    height: 6px;
    margin-top: 17px; }
.article-page .article-page-right .article-content ul.conten-article-ul .conten-article-li .arrow-down {
    background: url(../images/arrow-down.png) no-repeat;
    width: 10px;
    height: 6px;
    margin-top: 17px; }
.article-page .article-page-right .article-content ul.conten-article-ul .active {
    background-color: #EDEDED; }
.article-page .article-page-right .article-content ul.conten-article-ul .content-article-description {
    min-height: 40px;
    font-size: 12px;
    padding: 15px 0 15px 20px;
    display: none; }





.paper-Page .paper-content .paper-right h3 {
    color: #333333;
    border-left: 2px solid #F8285C;
    height: 16px;
    line-height: 16px;
    padding-left: 8px; }
.paper-Page .paper-content .paper-right .paper-sle {
    height: 70px;
    font-size: 16px;
    padding: 20px 0 0 0; }
.paper-Page .paper-content .paper-right .paper-sle img {
    width: 76px;
    height: 59px;
    margin: -30px 70px 0 0px; }
.paper-Page .paper-content .paper-right .paper-sle a:hover {
    color: #F8285C; }
.paper-Page .paper-content .paper-right .paper-sle .paper-sle-but {
    font-size: 14px;
    color: #A1B1C9; }
.paper-Page .paper-content .paper-right .border {
    border-top: 1px solid #EEEEEE; }
.paper-Page .paper-content .paper-right .more {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    position: relative;
    *top:-16px;
    color: #333;
    font-weight: 300; }
.paper-Page .paper-content .paper-right .sec {
    padding: 10px 0 0 0;
    height: 100px; }
.paper-Page .paper-content .paper-right .sec img {
    float: left;
    width: 124px;
    height: 84px; }
.paper-Page .paper-content .paper-right .sec .title {
    margin: 0px 0 0 10px;
    width: 150px;
    height: 60px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; }
.paper-Page .paper-content .paper-right .sec .price {
    margin: 0px 0 0 10px;
    overflow: hidden;
    width: 150px; }
.paper-Page .paper-content .paper-right .sec .sal {
    color: #E8353C;
    font-size: 12px; }
.paper-Page .paper-content .paper-right .sec .price-clo {
    color: #FF0000; }
.paper-Page .paper-content .paper-right .sec .price-sty {
    font-size: 16px;
    font-style: italic; }
.paper-Page .paper-content .paper-right .content-sec {
    padding: 10px 0 0 0;
    height: 100px;
    height: 313px; }
.paper-Page .paper-content .paper-right .content-sec img {
    width: 272px;
    height: 272px; }
.paper-Page .paper-content .paper-right .content-sec .tmall_icon {
    background-position: -72px -212px;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin: 5px 0 0;
    float: left; }
.paper-Page .paper-content .paper-right .content-sec .sec-p-price {
    background-color: #FFB4CD;
    width: 56px;
    height: 32px;
    overflow: hidden;
    float: left;
    text-align: center;
    margin: 10px auto;
    line-height: 32px;
    text-decoration: line-through; }
.paper-Page .paper-content .paper-right .content-sec .sec-po-price {
    background-color: #F96194;
    width: 150px;
    overflow: hidden;
    float: left;
    text-align: center;
    margin: 10px auto;
    height: 32px;
    line-height: 32px;
    color: #fff; }
.paper-Page .paper-content .paper-right .content-sec .sec-ico {   
    width: 50px;
    height: 32px;
    background-position: -174px 0px;
    float: left;
    margin: 10px auto; }.ncinfos{width:204px}
.paper-Page .paper-content .paper-right .sec-title {
    line-height: 29px;
    height: 29px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width: 240px;
    margin-left: 10px; }
.paper-Page .paper-content .paper-right .search {
    height: 200px;
    font-size: 14px; }
    .paper-Page .paper-content .paper-right .search>.a_box{
        float: left;
    margin: 10px 10px 0 0;
    text-align: center;
    background-color: #FFF8E7;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border: 1px solid #FFE5A6;
    }
.paper-Page .paper-content .paper-right .search .hot-tags {
    float: left;
    margin: 10px 10px 0 0;
    text-align: center;
    background-color: #FFF8E7;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border: 1px solid #FFE5A6; }
.paper-Page .paper-content .paper-right .bm-btn {
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    background-color: #FFDC22;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px; }
.paper-Page .paper-content .paper-right .bm-index {
    background-color: #F8F8F8; }
.paper-Page .paper-content .paper-right .bm-des {
    margin: 10px 0 0 10px; }
.paper-Page .paper-content .paper-right .zixun {
    margin: 10px 0 0 0;
    float: left; }
.paper-Page .paper-content .paper-right .zixun img {
    width: 110px;
    height: 100px;
    margin: 20px 0 0 0; }
.paper-Page .paper-content .paper-right .zixun li {
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    margin: 10px  0 0 10px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; }
.sitemap {
    width: 100%;
    overflow: auto; }
.sitemap li {
    float: left;
    margin-top: 4px;
    padding: 3px 5px; }
.sitemap a {
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #666666;
    height: 20px;
    line-height: 20px; }
.sitemap .mPages a{
    border: 1px solid transparent;
    color: #333;
    line-height: 14px;
    height: auto;
    border-radius: 0;
    display: inline-block;
    font-family: "arial";
    padding: 14px 18px;
}
.sitemap .mPages a:hover{border:1px solid #F8285C;}
.sitemap .mPages .next a,.sitemap .mPages .prev a{color: #fff}
/*.sitemap .mPages .next a:hover,.sitemap .mPages .prev a:hover{border: 0;}*/
.sitemap h3 {
    padding: 10px 0;
    text-align: left; }

/*新报名导航页面*/

/*THE END*/
.menu_group, .menu_groupL {
    font-size: 12px;
    
}
.menu_groupL {
    margin-top: 12px;
}
.menu_group h3 {
    height: 18px;
    margin-bottom: 10px;
    padding-left: 24px;
    line-height: 18px;
    color: #F8285C;
    cursor: pointer;
   
}
.menu ul {
    display: none;
}
.menu li {
    width: 208px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
    padding-left: 4px;
    color: #666666;
}
.menu a {
    font-size: 12px;
}
.menu .active a {
    color: #F8285C;
}
.menu_groupL h3 {
    height: 18px;
    margin-bottom: 10px;
    padding-left: 24px;
    line-height: 18px;
    color: #666666;
    cursor: pointer;
    
}
.menu_groupL .activeH3 {
    color: #F8285C;
}
/*文章卖家中心头部*/
.sell-col-md-12{margin: 0 auto;width:1152px}
.seller-nav {
  width: 100%;
  border-bottom: 2px solid #F8285C;
  padding: 15px 0 10px;
  background: #fff;
  /* nav-content end*/ }
  .seller-nav .nav-content {
    height: 68px;
    overflow: hidden; }
    .seller-nav .nav-content .seller-logo {
      padding: 0; }
	  .seller-nav .nav-content .seller-logo img{height:68px;}
    .seller-nav .nav-content .nav_list {
      height: 68px;
      width: 510px; }
      .seller-nav .nav-content .nav_list li {
        float: left;
        height: 68px; }
        .seller-nav .nav-content .nav_list li a {
          display: block;
          height: 33px;
          color: #404040;
          font: normal 16px/35px 'microsoft yahei';
          text-align: center;
          padding: 0px 0 0 40px;
          margin-top: 28px; }
		  .seller-nav .nav-content .nav_list li a.active{
			   color: #F8285C;
		  }
          .seller-nav .nav-content .nav_list li a:hover {
            color: #F8285C; }
      .seller-nav .nav-content .nav_list .frist {
        width: 75px; }
    .seller-nav .nav-content .seller-login {
      float: right;
      font: normal 16px/33px 'microsoft yahei';
      text-align: center;
      width: 210px;
      overflow: hidden; }
      .seller-nav .nav-content .seller-login a.nav_login, .seller-nav .nav-content .seller-login a.nav_reg {
        border: 1px solid #e2e2e2;
        display: inline-block;
        padding: 0 0 0 5px;
        width: 80px;
        height: 33px;
        color: #404040;
        font: normal 16px/33px 'microsoft yahei';
        text-align: center;
        margin: 25px 0 0 15px;
        border-radius: 3px; }
      .seller-nav .nav-content .seller-login .nav_login:hover {
        color: #F8285C; }
      .seller-nav .nav-content .seller-login .nav_reg:hover {
        color: #F8285C; }
      .seller-nav .nav-content .seller-login .login-block {
        margin: 30px 0 0 15px;
        width: 150px;
        height: 30px;
        overflow: hidden;
        display: inline-block;
        float: left;
        text-align: right;
        font-size: 14px;
        font-family: "宋体"; }
        .seller-nav .nav-content .seller-login .login-block .name {
          max-width: 100px;
          overflow: hidden;
          height: 30px;
          color: #F8285C;
          font-weight: bolder;
          display: inline-block; }
      .seller-nav .nav-content .seller-login .logout {
        margin: 30px 0 0 0;
        font-size: 14px;
        font-family: "宋体"; }
        .seller-nav .nav-content .seller-login .logout a {
          text-decoration: underline; }
        /*文章卖家中心头部结束*/