.goods_swiper,.goods_video,.goods_video img{position:relative;zoom:1}
.goods_quan:before,.header_goods .icon_header>div.title a:before,.home_ant_list li.li2:after,.home_ant_list li:before,.home_h3 .text-left:before{content:""}
.goods_swiper{z-index:5;background:#f4f4f4}
.goods_swiper img{width:100%;display:block}
.goods_swiper .swiper-wrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.goods_swiper .swiper-slide{text-align:center}
.goods_swiper .swiper-pagination-bullet{background:#ccc;opacity:1;height:6px;width:6px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;transition:all .4s ease 0s;-o-transition:all .4s ease 0s;-moz-transition:all .4s ease 0s;-webkit-transition:all .4s ease 0s;transform-origin:center}
.goods_swiper .swiper-pagination-bullet-active{background:#FC3F78;width:1rem}
.goods_swiper .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 2px}
.goods_swiper .swiper-container-horizontal>.swiper-pagination-bullets,.goods_swiper .swiper-pagination-custom,.goods_swiper .swiper-pagination-fraction{bottom:5px}
.goods_video{z-index:1}
.goods_video img{width:100%;display:block;z-index:5}
.goods_video .iconfont{position:absolute;zoom:1;left:50%;top:50%;z-index:20;font-size:4rem;margin:-2rem 0 0 -2rem}
.goods_video video{width:100%;height:100%;position:absolute;z-index:1;zoom:1;left:0;top:0;background:#333}
.goods_video.active img{z-index:1}
.goods_video.active video{z-index:30}
.header_goods{background:0 0;border-bottom:0}
.header_goods .icon_header>a{display:inline-block;height:30px;color:#fff;width:30px;line-height:30px;background:rgba(0,0,0,.3);border-radius:100px;top:7px;left:7px}
.header_goods .icon_header>a:nth-child(3){right:7px;left:auto}
.header_goods .icon_header>div.title{overflow:inherit;padding:0 60px;position:relative;z-index:1;zoom:1;top:0;opacity:0;background:#fff}
@media screen and (max-width:320px){.header_goods .icon_header>div.title{padding:0 70px}}.header_goods .icon_header>div.title a{font-size:1rem;color:#666;position:relative;z-index:1;zoom:1}
.header_goods .icon_header>div.title a:before{transition:all .4s ease 0s;-o-transition:all .4s ease 0s;-moz-transition:all .4s ease 0s;-webkit-transition:all .4s ease 0s;transform-origin:center;height:3px;bottom:0;width:0;left:50%;opacity:0;margin-left:0 bottom:0;position:absolute;z-index:1;zoom:1;display:block;overflow:hidden;background:#FC3F78;border-radius:10px}
.header_goods .icon_header>div.title a.active{color:#333;font-size:1.1rem}
.header_goods .icon_header>div.title a.active:before{width:3rem;margin-left:-1.5rem;opacity:1}
.header_goods .icon_header>.h_newlit{width:120px;text-align:center;background:rgba(51,51,51,.9);border:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;overflow:inherit;right:.5rem}
.header_goods .icon_header>.h_newlit a{border-bottom:solid 1px rgba(102,102,102,.9);color:#fff;font-size:1rem;margin:0 .5rem;padding-left:1.5rem;line-height:44px}
.header_goods .icon_header>.h_newlit a:last-child{border-bottom:0}
.header_goods .icon_header>.h_newlit a i{margin-right:9px}
.header_goods .icon_header>.h_newlit div:before{width:0;height:0;border-left:7px transparent solid;border-right:7px transparent solid;border-bottom:7px rgba(51,51,51,.9) solid;border-top:none;position:absolute;z-index:1;zoom:1;right:8px;top:-7px}
.header_goods.active{background:#fff;border-bottom:0}
.header_goods.active .icon_header>div.title{top:0;opacity:1}
.header_goods.active .icon_header>a:before{background:0 0;color:#333}
.goods_activity{height:3.5rem;border-bottom:solid 1px #F5F5F5;position:relative;z-index:1;zoom:1}
.goods_activity .outTime{position:absolute;z-index:1;zoom:1;right:0;text-align:center;top:50%;font-size:1rem;width:120px;margin-top:-19px}
.goods_info h1 span,.goods_quan{position:relative;z-index:1;zoom:1}
.goods_activity .outTime span{color:#FC4D52;font-size:1rem}
.goods_activity .outTime b{background:#333;border-radius:4px;font-size:.785rem;text-align:center;line-height:18px;color:#fff;font-family:Arial;height:18px;padding:0 5px;font-weight:400;display:inline-block}
.buy-copy .info .q1 span,.buy-copy .info .q2{font-family:Arial}
.goods_activity img{float:left;margin-left:.8rem;height:3.5rem;margin-right:.8rem}
.goods_activity p.text{line-height:4rem;height:3.5rem}
.goods_info h1{font-size:1.1rem;font-weight:400;padding:1rem 0 .6rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.goods_info h1 span{border:1px solid #FC3F78;color:#FC3F78;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;padding:0 5px;margin-right:5px;font-size:.785rem;top:-1px}
.goods_info>.info>div{font-size:.785rem;height:2rem;line-height:2rem;color:#666}
.goods_info>.info .col-money{color:#FC4D52}
.goods_info>.info .auth,.goods_info>.info .col-888{color:#888}
.goods_info>.info .col-money i{font-style:normal;font-size:1rem;margin-right:.3rem}
.goods_info>.info .col-money span{font-size:1.5rem}
.goods_info>.info .auth span{margin-left:.8rem}
.goods_info>.info .auth i{font-size:.785rem;margin-right:.2rem}
.goods_quan img{display:block;width:100%}
.goods_quan .row{display:block;position:absolute;z-index:1;zoom:1;left:0;top:0;width:100%;height:100%;text-align:center}
.goods_quan .row .money{font-size:.785rem;color:rgba(255,255,255,.6);padding-top:6%;line-height:1.3rem;position:relative;z-index:1;zoom:1;left:.3rem}
.goods_quan .row .money p{font-size:1rem;font-weight:600;color:#fff}
.goods_quan .row .money p span{font-size:1.4rem;position:relative;z-index:1;zoom:1;top:.1rem}
.goods_quan .row .name{line-height:100%;color:#fff;position:relative;z-index:1;zoom:1;top:50%;margin-top:-.6rem;text-align:left;font-weight:600}
.goods_quan .row .name span{margin-left:15%}
.goods_quan:before{width:2px;height:55%;background:url(../images/hr.png);-webkit-background-size:auto 100%;-moz-background-size:auto 100%;background-size:auto 100%;position:absolute;z-index:1;zoom:1;left:64%;top:20%;display:block}
.goods_desc{font-size:.9rem;line-height:1.4rem;padding:.5rem 0 1.4rem}
.goods_shop a{display:block}
.goods_shop .info{padding:.7rem 0;min-height:60px}
.goods_shop .info img{float:left;width:60px;height:60px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px}
.goods_shop .info div.text{position:relative;z-index:1;zoom:1;min-height:60px;padding-left:80px;line-height:30px}
.goods_reco>h3,.goods_shop .tab{line-height:3.5rem;text-align:center}
.goods_shop .info div.text h3{font-size:1.1rem;font-weight:400;margin-right:115px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.goods_shop .info div.text .new{position:absolute;z-index:1;zoom:1;right:0;top:50%;margin-top:-15px;font-size:1rem;color:#888}
@media screen and (max-width:320px){.goods_quan:before{left:66%}
.goods_shop .info div.text .new{font-size:.785rem}}.goods_shop .info div.text .new i{font-size:1em}
.goods_shop .info div.text .iconfont{font-size:.785rem}
.goods_shop .info div.text .iconfont.icon-detail_taobao{color:#ff5000}
.goods_shop .tab{border-top:solid 1px #F5F5F5;font-size:1rem;color:#555}
@media screen and (max-width:320px){.goods_shop .tab{font-size:.785rem}}.goods_shop .tab>div{color:#555}
.goods_shop .tab>div:nth-child(2n){position:relative;z-index:1;zoom:1}
.goods_shop .tab>div:nth-child(2n):after,.goods_shop .tab>div:nth-child(2n):before{position:absolute;z-index:1;zoom:1;left:0;top:50%;width:1px;height:1rem;margin-top:-.5rem;background:#eee;display:block;content:""}
.goods_shop .tab>div:nth-child(2n):after{left:auto;right:0}
.goods_shop .tab .lv_d,.goods_shop .tab .lv_g,.goods_shop .tab .lv_p{color:#2CA800;font-size:1rem;margin-left:.3rem}
.goods_shop .tab .lv_d.lv_g,.goods_shop .tab .lv_g.lv_g,.goods_shop .tab .lv_p.lv_g{color:#E31436}
.goods_shop .tab .lv_d.lv_p,.goods_shop .tab .lv_g.lv_p,.goods_shop .tab .lv_p.lv_p{color:#FF7800}
.goods_shop:hover{background:#fafafa}
.goods_reco>h3{height:3.5rem;font-size:1.1rem;font-weight:400}
.goods_reco div.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;display:block;flex-shrink:0;width:30%}
.goods_reco div.swiper-slide .swiper-cent{margin-right:10px;height:100%}
.goods_reco div.swiper-slide .swiper-cent .new,.goods_reco div.swiper-slide .swiper-cent a.img{display:block;position:relative;z-index:1}
.goods_reco div.swiper-slide .swiper-cent .new img,.goods_reco div.swiper-slide .swiper-cent a.img img{display:block;width:100%;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px}
.goods_reco div.swiper-slide .swiper-cent .quan{font-size:.785rem;color:#FC4D52;border:1px solid #FC4D52;padding:0 .4rem;display:inline-block;height:1rem;line-height:1.15rem;overflow:hidden}
.goods_reco div.swiper-slide .swiper-cent .name{font-size:1rem;padding:5px 0 0;margin-bottom:8px;word-break:break-all;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;color:#666}
.goods_reco div.swiper-slide .swiper-cent .money{line-height:1.8rem;padding-bottom:1rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:.785rem}
.goods_reco div.swiper-slide .swiper-cent .money span{font-size:1rem}
.goods_reco .swiper-container{padding-left:10px}
.goods_reco .imglist img{display:block;width:100%}
.goods_reco .goods-new{background:#F5F5F5}
.goods_shop_cart{position:fixed;zoom:1;bottom:0;z-index:500;left:0;width:100%}
.goods_shop_cart~.layout{padding-bottom:4rem}
.goods_shop_cart .but{padding-top:.35rem;font-size:.785rem}
.goods_shop_cart .but p{padding-top:3px;height:22px}
.goods_shop_cart .but p.img{position:relative;z-index:1;zoom:1;top:-3px}
.goods_shop_cart .but p.img img{height:25px}
.goods_shop_cart .but p.money{font-size:1.4rem}
.goods_shop_cart .but p.money span{font-size:1rem}
.goods_shop_cart .but a.active{color:#FC3F78}
.goods_shop_cart .quan{position:relative;z-index:1;zoom:1;left:-.7rem}
.goods_shop_cart .quan *{color:#FE9E6B}
.goods_shop_cart>.cent{position:relative;zoom:1;z-index:5;background:#fff;box-shadow:0 -2px 2px 0 rgba(0,0,0,.1);height:4rem}
.goods_shop_cart .btn{padding:0;height:3.1rem;line-height:3.1rem;position:relative;z-index:1;zoom:1;top:.4rem;margin-right:.5rem;width:auto}
.goods_shop_cart .btn a{height:41px;color:#fff;text-align:center}
.goods_shop_cart .btn a.active{background:#fff;color:#FC3F78;zoom:1;top:1px;left:1px;z-index:5;position:relative;border-radius:3px 0 0 3px}
.goods_shop_cart .btn.but-money{line-height:inherit;font-size:.785rem}
.goods_shop_cart .btn.but-money p.money{font-size:1.4rem;position:relative;z-index:1;zoom:1;top:1px}
.goods_shop_cart .btn.but-money p.money span{font-size:1rem}
.goods_shop_cart .buy-wrapper-box{position:absolute;left:2.5%;width:95%;background:#fff;border-radius:4px;opacity:0;bottom:-200px;z-index:-50;transition:all .3s cubic-bezier(.4,.68,.15,1.21) .2s;-o-transition:all .3s cubic-bezier(.4,.68,.15,1.21) .2s;-moz-transition:all .3s cubic-bezier(.4,.68,.15,1.21) .2s;-webkit-transition:all .3s cubic-bezier(.4,.68,.15,1.21) .2s}
.goods_shop_cart .buy-wrapper-box a{height:35px;text-align:center;color:#666;display:block;font-size:16px;padding:10px 0}
.goods_shop_cart .buy-wrapper-box a:nth-child(1){border-bottom:solid 1px #eee}
.goods_shop_cart .buy-wrapper-box a .iconfont{font-size:1.8rem;top:.3rem;margin-right:.5rem}
.goods_shop_cart .buy-wrapper-box .cent{position:relative;z-index:5}
.goods_shop_cart .buy-wrapper-box em{position:absolute;left:5%;bottom:-10px;width:0;height:0;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid #fff}
.goods_shop_cart.active .buy-wrapper-box{opacity:1;bottom:70px;z-index:1}
div.layui-layer-page .layui-layer-content{overflow:inherit}
.goods_shop_cart_bg{width:100%;height:100%;position:fixed;z-index:1;background:#000;left:0;top:0;display:none;opacity:.5}
.goods_shop_cart.active>.goods_shop_cart_bg,.goods_shop_cart_bg.active{display:block}
.code-pic-info .pic-img,.code-pic-info .pic-img img{width:90px;height:90px;display:block;position:relative;z-index:5;margin:auto;border-radius:5px}
.code-pic-info .pic-img img{background:#eee}
.code-pic-info .pic-img{padding:10px;position:absolute;left:50%;top:-60px;margin-left:-50px;z-index:10;background:#fff;box-shadow:0 2px 4px 0 rgba(204,204,204,.5)}
.code-pic-info{height:70px}.tcinfos{width:102px}
div.buy-box .code-pic-cent,div.buy-box .code-pic-cent div,div.buy-box .code-pic-cent textarea{height:auto}
div.buy-copy{border-radius:8px;background:#fff}
.buy-box .img img,.buy-copy img{border-radius:5px;display:block}
div.buy-opacity{width:300px;height:480px;margin-left:-99999px}
div.buy-pic-box{width:85%;height:230px}
.buy-taokoulin{width:85%;    padding-bottom: 10px;}
.buy-copy img{width:100%}
.layui-layer-iframe.buy-copy .layui-layer-content{padding-top:0!important}
.buy-box-tab{background:url(../images/b64.png) center center no-repeat;background-size:100% 100%;color:#fff;height:40px;line-height:40px;text-align:center;padding:0 10px;font-size:14px}
.buy-box .img{margin:0 10px;padding:10px 0;width:280px;height:280px;background:center center no-repeat;background-size:100% 100%}
.buy-box .img img{width:280px;height:280px}
.buy-box .layui-layer-content{background:#fff}
.buy-copy .info{margin:0 130px 0 10px;padding-bottom:10px}
.buy-copy .info .q1{color:#ED145B;font-size:14px;margin-bottom:7px}
.buy-copy .info .q1 span{color:#ED145B;font-size:22px}
.buy-copy .info .q1 span em{font-size:14px;font-style:normal}
.buy-copy .info .q2{height:50px;line-height:50px;font-size:24px;text-align:center;color:#fff;background:#FC3F78;position:relative;border-radius:8px;z-index:2}
.buy-copy .info .q2 b{float:left;width:40px;line-height:28px;position:relative;font-weight:400;top:11px;color:#ffd136;font-size:24px;left:0;border-right:solid 1px #fff;display:block}
.buy-copy .info .q2 span{display:block;padding-left:28px}
.buy-copy .info .q2 em{font-size:14px;font-style:normal;margin:0 5px}
.buy-copy .info div{font-size:12px;color:#666;padding-top:7px}
.buy-box-center{position:relative;z-index:0}
.buy-box-center .code{position:absolute;right:10px;bottom:10px;width:100px;height:100px;background:#000}
.buy-box-center .code-img{position:fixed;left:50%;top:50%;width:300px;height:480px;margin:-240px 0 0 -150px}
.buy-box{position:relative}
.buy-box .buy-box-tab-bg{text-align:center;background:linear-gradient(to right,#FD65EA,#FFBF63);-webkit-background-clip:text;color:#ff6600;font-size:18px;padding:5px 0}
.buy-box .close{background:url(../images/cms_03.png) center center no-repeat;background-size:98% 98%;width:28px;height:28px;position:absolute;top:-14px;right:-14px;z-index:5;display:block}
.buy-box .cente-text{padding:10px 0;background:#F1F1F1;color:#333;font-size:14px;line-height:24px;border-radius:4px;overflow:hidden}
.buy-box .cente-text div{margin:0 10px;}
.buy-box .cente-text .textarea,.buy-box .cente-text textarea{width:100%;background:0 0;border:0;color:#333;font-size:14px;line-height:20px}
.buy-box .cente-text .textarea{height:auto}
.buy-box .text{line-height:28px;color:#AAA;font-size:12px;padding-bottom:10px}
.buy-box .buy-btn-copy{background:-moz-linear-gradient(left,#FE9F69 0,#FB85F7 100%);background:-webkit-gradient(linear,left top,left right,color-stop(0,#FE9F69),color-stop(100%,#FB85F7));background:-webkit-linear-gradient(left,#FE9F69 0,#FB85F7 100%);background:-o-linear-gradient(left,#FE9F69 0,#FB85F7 100%);background:-ms-linear-gradient(left,#FE9F69 0,#FB85F7 100%);background:linear-gradient(to left,#FE9F69 0,#FB85F7 100%);display:block;border-radius:50px;line-height:40px;height:40px;text-align:center;color:#fff;font-size:16px}
.buy-box .buy-btn-copy.active{background:#1FB931}
.buy-box .buy-btn-copy.no{background:#CCC}
.buy-box .msg{text-align:center;line-height:45px;height:45px;color:#FF6C00;font-size:14px}
.buy-box .code-cent{margin:0 10px}
.buy-weixin-msg{position:fixed;left:0;top:0;z-index:99999;width:100%;height:100%;background:url(../images/weixin-msg.png) 95% 10px no-repeat rgba(0,0,0,.5);background-size:60% auto}
div.buy-copy-img{margin-top:-10px}
.buy-box .buy-msg-bottom{background:url(../images/buy-msg.png) center top no-repeat;height:70px;top:102%;position:absolute;left:0;background-size:100% auto;width:100%}
@media only screen and (max-width:330px){.buy-box .buy-msg-bottom{height:50px}}.home_nav{padding:1.5rem 0 0;text-align:center}
.home_nav li{margin-bottom:1rem}
.home_nav li i.iconfont{width:3rem;height:3rem;display:block;margin:auto;background:#e5e5e5}
.home_nav li a{line-height:2em;font-size:1rem}
.home_ant_list li{position:relative;z-index:1;zoom:1;float:left}
.home_ant_list li:before{width:1px;height:100%;position:absolute;z-index:1;zoom:1;right:0;top:0;border-right:solid 1px #F5F5F5}
.home_ant_list li a{display:block;padding:.5rem 0 0 .5rem;z-index:50}
.home_ant_list li h3{font-size:1.3rem;font-weight:400;color:#FF566F}
.home_ant_list li p.text{color:#666;font-size:1rem}
.home_ant_list li .money{padding-top:1.5rem;color:#FC4D52;font-size:1.2rem}
.home_ant_list li .money span{font-size:.785rem;color:#888}
.home_ant_list li.li1{width:40%;height:200px}
.home_ant_list li.li1 .imglist img{max-width:100%;max-height:200px}
.home_ant_list li.li2{width:60%;height:100px}
.home_ant_list li.li2:after{width:100%;height:1px;position:absolute;z-index:1;zoom:1;right:0;bottom:0;border-bottom:solid 1px #F5F5F5}
.home_ant_list li.li3,.home_ant_list li.li4{width:30%;height:100px}
.home_ant_list li .imglist{bottom:0;position:absolute;zoom:1;right:0;max-height:100%;max-width:100%;background:#fefefe;z-index:-1}
.home_ant_list li .time,.home_h3 .text-left:before{top:2px;position:relative;z-index:1;height:1.2rem;zoom:1}
.home_ant_list li .imglist img{max-width:100%;max-height:100px}
.home_ant_list li .time{border:1px solid #FC4D52;line-height:1.2rem;border-radius:30px;font-size:1em;text-align:center;display:inline-block}
.home_ant_list li .time span{background:#FC4D52;color:#fff;height:1.2rem;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;-o-border-radius:30px;-ms-border-radius:30px;display:inline-block;float:left;font-size:.785rem;padding:0 .7rem}
.home_ant_list li .time i{font-size:.785rem;padding:0 .5rem;color:#FC4D52}
.home_h3{padding:1rem 0;font-size:1rem;font-weight:400}
.home_h3 .text-left{font-size:1.2rem;line-height:1.6rem}
.home_h3 .text-left:before{float:left;width:3px;background:-moz-linear-gradient(top,#FFA006 0,#FC3F78 100%);background:-webkit-gradient(linear,top top,top right,color-stop(0,#FFA006),color-stop(100%,#FC3F78));background:-webkit-linear-gradient(top,#FFA006 0,#FC3F78 100%);background:-o-linear-gradient(top,#FFA006 0,#FC3F78 100%);background:-ms-linear-gradient(top,#FFA006 0,#FC3F78 100%);background:linear-gradient(to top,#FFA006 0,#FC3F78 100%);margin-right:.5rem}
.home_h3 .text-right{color:#aaa}
.home_h3 .text-right span{color:#666}
.header_search{background:#fff;position:fixed;zoom:1;z-index:900;left:0;top:0;width:100%;height:100%;overflow:hidden;overflow-y:auto}
.header_search.off{-webkit-animation:fadeInRight .7s ease-in-out;-moz-animation:fadeInRight .7s ease-in-out;-ms-animation:fadeInRight .7s ease-in-out;animation:fadeInRight .7s ease-in-out}
.header_search.no{-webkit-animation:fadeOutLeft .7s ease-in-out;-moz-animation:fadeOutLeft .7s ease-in-out;-ms-animation:fadeOutLeft .7s ease-in-out;animation:fadeOutLeft .7s ease-in-out}
@-webkit-keyframes fadeInRight{0%{opacity:0;filter:alpha(opacity=0);-webkit-transform:translate(100%,0)}
100%{opacity:1;filter:alpha(opacity=100);-webkit-transform:none}}@-moz-keyframes fadeInRight{0%{opacity:0;filter:alpha(opacity=0);-moz-transform:translate(100%,0)}
100%{opacity:1;filter:alpha(opacity=100);-moz-transform:none}}@-o-keyframes fadeInRight{0%{opacity:0;filter:alpha(opacity=0);-o-transform:translate(100%,0)}
100%{opacity:1;filter:alpha(opacity=100);-o-transform:none}}@-ms-keyframes fadeInRight{0%{opacity:0;filter:alpha(opacity=0);-ms-transform:translate(100%,0)}
100%{opacity:1;filter:alpha(opacity=100);-ms-transform:none}}@keyframes fadeInRight{0%{opacity:0;filter:alpha(opacity=0);transform:translate(100%,0)}
100%{opacity:1;filter:alpha(opacity=100);transform:none}}@-webkit-keyframes fadeOutLeft{0%{opacity:1;filter:alpha(opacity=100)}
100%{opacity:0;filter:alpha(opacity=0);-webkit-transform:translate3d(-100%,0,0)}}@-moz-keyframes fadeOutLeft{0%{opacity:1;filter:alpha(opacity=100)}
100%{opacity:0;filter:alpha(opacity=0);-moz-transform:translate3d(-100%,0,0)}}@-o-keyframes fadeOutLeft{0%{opacity:1;filter:alpha(opacity=100)}
100%{opacity:0;filter:alpha(opacity=0);-o-transform:translate3d(-100%,0,0)}}@-ms-keyframes fadeOutLeft{0%{opacity:1;filter:alpha(opacity=100)}
100%{opacity:0;filter:alpha(opacity=0);-ms-transform:translate3d(-100%,0,0)}}@keyframes fadeOutLeft{0%{opacity:1;filter:alpha(opacity=100)}
100%{opacity:0;filter:alpha(opacity=0);transform:translate3d(-100%,0,0)}}.header_search .header_pr{position:absolute;z-index:1;zoom:1}