@charset "utf-8";
.tpj-shop-slide-promo-pc{color:#333;height:96px;background:#373737;width:100%}
.tpj-shop-slide-promo-pc .clr{zoom:1}
.tpj-shop-slide-promo-pc img{border:0}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic{position:relative;width:100%;height:96px;margin:0 auto;overflow:hidden}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic img{display:block;float:left}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .logo{position:absolute;left:0;top:0;float:none}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic a{text-decoration:none}.ncinfos{width:204px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide{float:right;padding:30px 0 0 130px;width:728px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .scrollable-panel{width:625px;overflow:hidden;position:relative}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .scrollable-panel .scrollable-content{width:625px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .scrollable-panel .scrollable-content .xzp_aa{display:block;width:100px;height:50px;float:left;margin-right:25px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt{float:right;padding-top:18px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .left{background:url(../images/bleft.png)}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .right{background:url(../images/bright.png)}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .left,.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .right{float:left;width:8px;height:14px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .tab-con{float:left;padding-left:12px}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .tab-con li{float:left;width:7px;height:7px;background:#b7b7b7;border-radius:5px;margin:5px 11px 0 0;cursor:pointer}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .tab-con li a{text-indent:-9999em;float:left}
.tpj-shop-slide-promo-pc .module-wrap .J_dynamic .slide .jt .tab-con .mark{background:#fff}
.xzp-shop-sexywild{color:#333}
.xzp-shop-sexywild .module-wrap a,.xzp-shop-sexywild .module-wrap a:hover{text-decoration:none}
.xzp-shop-sexywild .module-wrap .mod-wrap{width:100%;margin:0 auto}
.xzp-shop-sexywild .module-wrap .xzp_ul{overflow:hidden;width:100%;background:#ececec}
.xzp-shop-sexywild .module-wrap .new-item{float:left;background-color:#fff;margin-bottom:10px;overflow:hidden;padding-bottom: 20px;border-bottom:2px solid #fdc500;}
.xzp-shop-sexywild .module-wrap .new-item .big-pic{display:block;height:auto;overflow:hidden}
.xzp-shop-sexywild .module-wrap .new-item .big-pic img{display:block;border:0;width: 100%;}
.xzp-shop-sexywild .module-wrap .new-item .small-pic{display: block;width:80px;height:40px;margin:5px auto;text-align: center;}
.xzp-shop-sexywild .module-wrap .new-item .small-pic img{border:0;width:100%}
.xzp-shop-sexywild .module-wrap .new-item .title{font-size:16px;font-weight: 700;margin-top:5px;color: #333;text-align: center;}
.xzp-shop-sexywild .module-wrap .new-item .desc{color:#999;text-align:center}