@charset "utf-8";
[data-dpr="1"] .brand-list .discount{font-size:15px;}
[data-dpr="2"] .brand-list .discount{font-size:30px;}
[data-dpr="3"] .brand-list .discount{font-size:45px;}
[data-dpr="1"] .brand-list .discount em{font-size:18px;}
[data-dpr="2"] .brand-list .discount em{font-size:36px;}
[data-dpr="3"] .brand-list .discount em{font-size:54px;}
.brand-list.{width:100%}
.brand-list .item{position:relative;background:#fff;padding:.3rem 0;margin-top: .2rem;}
.brand-list .item .title{margin:0 .2rem;position:relative;}
.brand-list .item .title img{height:30px;vertical-align:middle;margin-right:5px;}
.brand-list .mask-box{position:absolute;bottom:0;margin:0;width:100%;background:#fff;opacity:.4;height:100%;}
.brand-list .list-price{position:absolute;bottom:0;z-index:2;}
.brand-list .icon{display:block;width:38px;height:22px;line-height:22px;text-align:center;position:absolute;top:0;right:0;color:#fff;font-size:12px;}
.brand-list .icon.new{background:#66cc99;}.ncinfos{width:204px}
.brand-list .icon.brand{background:#ff6699;}
.brand-list .discount{display:block;text-align:center;position:absolute;top:2.2rem;left: 4.5rem;background:#F8285C;height:1.45rem;line-height:.7rem;padding:.35rem 0;width:6rem;border-radius:3rem;opacity:.9;z-index:10;color:#fff;font-size:.6rem;font-family:"微软雅黑";}
.brand-list .discount em{color:#fff;font-size:.8rem;}
.brand-list .discount i.cur{background:url(../images/cur_.png) no-repeat;background-size:cover;width: .4rem;height: .7rem;position: absolute;top: .8rem;right: .8rem;}
.brand-banner{overflow:hidden;}
.brand-banner img{width:100%;}
.brand-goods-list {width: 100%;}
.brand-goods-list li {float: left;position: relative;background: rgba(255, 255, 255, 1);width: 100%;}
.brand-goods-list .goods-a {display: block;position: relative;}
.brand-goods-list li img {width: 100%;position: relative;display: inherit;}