@charset 'utf-8';a{text-decoration:none;text-decoration:none;color:#666}
a:active{background-color:transparent}
.search-box{float:left;width:600px;margin:5px 0 0 170px}
.search-box .search-input{height:40px;width:600px;margin-top:16px}
.search-box .search-input .input-wapper{border:1px solid #cdcdcd;position:relative;float:left;width:481px;height:36px;text-align:center}
.search-box .search-input .input-wapper input[type=text]{position:relative;width:470px;height:36px;border:0;outline-color:transparent;font-size:14px;margin-left:0;padding-left:5px;padding-right:5px;color:#ccc}
#searchprompt{height:34px;line-height:36px;_width:440px}
#searchprompt.focused{color:#000}
.searchprompt-info{*display:none!important}
.search-box .btn-search{float:left;width:98px;height:38px;background:#F34E15;position:relative;left:-1px;line-height:38px;font-size:15px;color:#fff;text-align:center;cursor:pointer;font-weight:600}
.search-box .hot-keys{font-size:12px;color:#7c7974;width:580px;float:left;height:25px;line-height:30px;overflow:hidden}
.search-box .hot-keys a{color:#7C7974;padding:0}
.search-box .hot-keys span{color:#D7D7D7;padding:0 9px}
.search-box .hot-keys a.red{color:#F34E15}
.search-box .hot-keys a.blue{color:#10b606}
.search-box .hot-keys a:hover{text-decoration:underline}
.searchprompt-info,.searchprompt-info ul,.searchprompt-info ul li{width:398px;background:#fff;padding:0;margin:0;text-align:left;font-size:14px;z-index:999}
.searchprompt-info{position:absolute;z-index:1999;top:38px;left:-1px;display:none}
.searchprompt-info ul li{font-family:"Microsoft YaHei UI","Microsoft YaHei";height:24px;line-height:24px;padding:0 5px;width:384px;overflow:hidden;cursor:pointer}
.searchprompt-info ul li.cur{background:#F34E15;color:#fff}
#sugwords{border:1px solid #ccc;box-shadow:0 2px 10px #ccc}
#js-hot-more{position:absolute;z-index:99;background:#fff;width:190px;right:-1px;top:1px;overflow:hidden;_display:none}
#js-hot-more h1{color:#A3A3A3;line-height:30px;width:100%;font-size:12px;font-weight:400;margin-left:15px;margin-top:5px}
#js-hot-more a{padding:2px 4px;border:1px solid #eaeaea;float:left;margin:5px 0 5px 15px;font-size:12px}
#js-hot-more b{border-left:1px solid #f1f1f1;width:1px;height:220px;position:absolute;left:0;top:10px}
#js-hot-more a.l8{margin:4px 0 4px 15px}
#js-hot-more a:hover{background:#F34E15;color:#fff;border-color:#F34E15}
#js-hot-more.active{width:397px!important;height:134px!important;border:1px solid #ccc;box-shadow:0 2px 10px #ccc;top:0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
#js-hot-more.active a{margin-left:10px}
#js-hot-more.active b{display:none}
p,h3,ul,i,b{margin: 0;padding: 0;border: none;}
i,b{font-style: normal;font-weight: normal;}
li{list-style: none;}
.mainw1200{width:1200px;margin: 0px auto;font: 14px/1.5 Arial, "Microsoft Yahei";}
.channel-cnt-tehui{background-image: url(//img.alicdn.com/tps/i4/TB1DOF2MXXXXXXZXFXXWdy9FFXX-15-360.png);}
.channel-cnt{background-repeat: repeat-x;background-position: 0 0;}
.channel-cnt-tehui .channel-bg{background-image: url(//img.alicdn.com/tps/i2/TB1v9XRMXXXXXcgXVXXx6Mp7VXX-1440-380.png);}
.channel-cnt .channel-bg{background-repeat: no-repeat;background-position: center 0;padding-top: 128px;position: relative;top: -18px;}
#gotoTop{display:none;position:fixed;top:75%;left:50%;cursor:pointer;margin-top:-50px;margin-left:620px;padding:9px 4px;width:20px;text-align:center;border:1px solid #FF5500;background:#fff;color:#FF5500;z-index:9999}
#gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")}
#gotoTop.hover{background:#5CB542;color:#fff;text-decoration:none;border:1px solid #5CB542;}
.release-list{overflow:hidden;margin-bottom: 30px;min-height: 572px;}
.release-list .ddq_loadding{text-align:center}
.release-list .ddq_loadding.hide{display:none;}
.release-list ul{width: 1208px;}
.ncinfos{width:204px}
.release-list li{overflow:hidden;float:left;width: 594px;margin: 0 8px 8px 0;height: 258px;background:white;border:#eee 1px solid;}
.release-list li:hover{border-color:#FF5500 ;}
.release-list li a{display:block;width: 548px;height: 220px;padding: 19px 20px;padding-right: 26px;margin: 0;position:relative;}
.release-list li .goods_hdtype{position:absolute;width: 46px;height: 60px;background: url(../images/live-img.png) -7px -1232px no-repeat;top: 10px;left:10px;}
.release-list li .goods_hdtype.goods_hdtype_zhe{background-position-x: -212px;width: 60px;}
.release-list li .goods_pic{width: 220px;height:220px;float:left;overflow:hidden;}
.release-list li .goods_pic img{max-width: 220px;max-height: 220px;vertical-align: top;}
.release-list li .goods_info{float:right;width:310px;overflow:hidden;}
.release-list li .goods_info .goods_tit_des{color:#FF5500;margin-bottom: 40px;}
.release-list li .goods_info .goods_tit_des h3{margin: 0;padding:0;height: 72px;font-size:16px;line-height:36px;color:#333;font-weight:normal;overflow:hidden;}
.release-list li .goods_info .goods_tit_des h3 .hd_tit{width: 16px;height: 16px;float: left;background: url(../images/live-img.png) -353px -125px no-repeat;margin-right: 4px;position: relative;top: 9px;}
.release-list li .goods_info .goods_tit_des h3 .hd_tit_tao{background-position: -141px -125px;}
.release-list li .goods_info .goods_tit_des h3 .hd_tit_ju{background-position: -115px -125px;}
.release-list li .goods_info .goods_tit_des p{font-size:14px;line-height: 20px;height: 40px;overflow:hidden;}
.release-list li .goods_info .goods_price_coupon{height: 40px;position:relative;margin-bottom: 16px;color: #999;text-align: left;overflow:hidden;}
.release-list li .goods_info .goods_price_coupon span{display:block;line-height: 12px;font-size: 12px;height: 12px;margin-bottom: 6px;}
.release-list li .goods_info .goods_price_coupon p{height: 24px;line-height: 24px;color:#666;}
.release-list li .goods_info .goods_price_coupon p b{font-size: 24px;}
.release-list li .goods_info .goods_price_coupon p b i{font-size:14px;font-weight: normal;color:#aaa;width: 14px;text-align: center;}
.release-list li .goods_info .goods_price_coupon .goods_price{float: left;margin-right: 0;font-size: 12px;width: 33%;text-align: left;}
.release-list li .goods_info .goods_price_coupon .goods_price b,.release-list li .goods_info .goods_price_coupon .goods_price b i{color:#FF5500;}
.release-list li .goods_info .goods_price_coupon .goods_price_old{float:left;line-height: 26px;width: 33%;}
.release-list li .goods_info .goods_price_coupon .goods_yj{float: right;text-align: center;width: 30%;}
.release-list li .goods_info .goods_price_coupon .goods_yj b{font-size:12px;font-weight: 100;}
.release-list li .goods_info .goods_price_coupon .goods_yj i{margin-left: 3px}
.release-list li .goods_info .goods_gobuy_seller{position:relative;border:1px solid #F3C7C7;width: 308px;height: 38px;}
.release-list li .goods_info .goods_gobuy_seller.goods_gobuy_seller_soon{border-color:#fff;}
.release-list li .goods_info .goods_gobuy_seller.goods_gobuy_seller_soon .goods_seller{display:none}
.release-list li .goods_info .goods_gobuy_seller .goods_seller{margin: 12px 15px;display: block;margin-right: 120px;height: 14px;line-height: 14px;color: #aaa;}
.release-list li .goods_info .goods_gobuy_seller .goods_seller i{float:left;width: 12px;position: relative;height: 16px;top: -2px;background: url(../images/live-img.png) -171px -1044px no-repeat;}
.release-list li .goods_info .goods_gobuy_seller .goods_seller b{color:#FF9960;font-weight:normal;margin: 0 5px}
.release-list li .goods_info .goods_gobuy_seller .goods_buy_btn{position:absolute;right:-1px;width: 120px;line-height:40px;text-align:center;color:white;height: 40px;font-size:18px;background: #FF5500;top :-1px;z-index:2;}
.release-list li .goods_info .goods_gobuy_seller .goods_buy_btn.goods-soon{background: #f7bdad;}
.release-list li .goods_info .goods_gobuy_seller .goods_buy_btn.goods-over{background:#ccc;}
.page{padding: 0 0 45px;padding-top:30px;*margin-top:50px;_margin-top:50px;clear: both;overflow: hidden;text-align: center;}
.page div{margin: 0 auto;}
.page a,.page span,.page i{display:inline-block;/*float:left;*/background: none repeat scroll 0 0 #FFF;margin-left:1px;padding:10px 15px;overflow: hidden;color:#919191;font-size:14px;font-weight:bold;border-right:none;-moz-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);-webkit-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);}
.page a.pg-next{width:60px;border-radius:0 20px 20px 0;box-shadow:1px 1px 3px rgba(204, 204, 204, 0.7);}
.page a.pg-next:hover{cursor:pointer;}
.page span.pg-prev{color:#bbb;font-weight:normal;background:#fff;width:60px;border-radius: 20px 0 0 20px;box-shadow:1px 1px 3px rgba(204, 204, 204, 0.7);}
.page span.pg-next{width:60px;border-radius:0 20px 20px 0;box-shadow: 2px 2px 3px #D0D0CD;background:#fff;color:#bbb;font-weight:normal;}
.page a.pg-prev{background:#FFFFFF;width:60px;border-radius: 20px 0 0 20px;box-shadow: 2px 2px 3px #D0D0CD;}
.page span{background: #FF5500;border: medium none;color: #fff;font-weight: bold;}
.page a:hover{text-decoration:none;color:#fff;background:#FF5500;}
.page i{color: #919191}
.release-time{margin-top: 1px;width: 100%;height: 50px;background: #333;margin-bottom: 30px;}
.sf_wrap.fixed .release-time{position:fixed;top :0;margin-top:0;z-index: 200;}
.sf_wrap.fixed .main{margin-top: 80px;}
.release-time-main{width: 1200px;margin: 0 auto;position:relative;overflow: hidden;height: 60px;}
.release-time-main ul{position:relative;left: 0;width: 1200px;height: 50px;float: left;z-index: 1;transition: left 0.2s;}
.release-time-main ul li .section_item{color:white;display: block;height: 50px;cursor:pointer;}
.release-time-main ul li span{display: block;font-size: 16px;height: 20px;height: 50px;line-height: 50px;}
.release-time-main ul li{float: left;width: 240px;height: 50px;color:white;text-align: center;position: relative;font-size: 14px;}
.release-time-main ul li.cur .section_item:hover{background:none}
.release-time-main ul li .section_item:hover{background: #f78363;}
.cur{background: #f85125;}
.cur:before{content: '';width: 0;height: 0;border-right: 7px solid transparent;border-left: 7px solid transparent;border-top: 7px solid #f85125;position: absolute;left: 50%;bottom: -7px;margin-left: -7px;}
.footer{position: relative;height:195px;background-color: #434446;}
.footer .footer-top{height:155px;width: 1200px;margin: 0 auto;}
.footer .footer-top .yl{float: left;width: 550px;margin: 35px 0 30px 70px;border-left: 1px solid #7B7B7D}
.footer .footer-top .yl .head{font-size: 12px;color: #bfbfbf;padding-left: 10px}
.footer .footer-top .yl .yl-links{padding-left: 10px}
.footer .footer-top .yl .yl-links a{display: inline-block;height: 14px;line-height: 14px;font-size: 12px;color: #999;margin: 12px 8px 0 0}
.footer .footer-top .logo-slogan{float: left;width: auto;height: 90px;margin: 35px 70px 30px 0}
.footer .footer-top .logo-slogan .qr-code{position: relative;float: left;width: 90px;height: 90px;margin-left: 12px;background-color: #fff;border-radius: 2px}
.footer .footer-top .logo-slogan .qr-code img{width: 86px;height: 86px;margin: 2px}
.footer .footer-top .logo-slogan .txt{height: 90px;float: left;padding-left: 20px;}
.footer .footer-top .logo-slogan .txt .logo{height: 24px;color: #fff;font-size: 18px;font-weight: bold;font-family:"Microsoft YaHei UI","Microsoft YaHei";height: 24px}
.footer .footer-top .logo-slogan .txt .logo img{float: right;width: 106px;height: 24px}
.footer .footer-top .logo-slogan .txt .s1{font-size: 14px;color: #fff;line-height: 14px;padding-top: 10px;text-align: right}
.footer .footer-top .logo-slogan .txt .s2{font-size: 12px;color: #fff;line-height: 12px;padding-top: 10px;text-align: right}
.footer .footer-bootom{height: 40px;background-color: #38383A}
.footer .footer-bootom p{font-size: 12px;color: #BFBFBF;text-align: center;line-height: 40px}
.footer .wrapper{position: relative;width: 1100px;margin: 0 auto;overflow: hidden;}
.footer .kefuqq img{position: relative;top: 5px;}
.backhome{position: absolute;left: 220px;height: 38px;line-height: 38px;background: #333;padding: 0 10px;color: #fff;}
.backhome a{color:#fff}
.backhome:hover{background:#f78363;}