.cell-mask {position:fixed;top:0;right:0;left:0;bottom:0;height:100%;width:100%;background-color:rgba(34,34,34,.6);display:none;opacity:0;z-index:998}
.cell-mask-show {display:block}
.cell-mask-show.animated {opacity:1}
.atom-layout-hide body {position:fixed;width:100%}
div.js-layout-show {display:block}
.atom-layout-wrap {display:none;position:fixed;top:0;right:0;bottom:0;left:1.5rem;height:100%;-webkit-overflow-scrolling:touch;outline:0;z-index:999}
.atom-layout-body {background-color:#fff}
@-webkit-keyframes topGoBottomOpen {0% {-webkit-transform:translateY(-100%);transform:translateY(-100%)}
to {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes topGoBottomOpen {0% {-webkit-transform:translateY(-100%);transform:translateY(-100%)}
to {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes topGoBottomClose {0% {-webkit-transform:translateY(0);transform:translateY(0)}
to {-webkit-transform:translateY(-100%);transform:translateY(-100%)}
}
@keyframes topGoBottomClose {0% {-webkit-transform:translateY(0);transform:translateY(0)}
to {-webkit-transform:translateY(-100%);transform:translateY(-100%)}
}
.atom-layout-topGoBottom.js-close {-webkit-animation:topGoBottomClose .2s ease-in-out forwards;animation:topGoBottomClose .2s ease-in-out forwards;-webkit-transform:translateY(-100%);transform:translateY(-100%)}
.atom-layout-topGoBottom.js-open {-webkit-animation:topGoBottomOpen .2s ease-in-out forwards;animation:topGoBottomOpen .2s ease-in-out forwards;-webkit-transform:translateY(0);transform:translateY(0)}
@-webkit-keyframes bottomGoTopOpen {0% {-webkit-transform:translateY(100%);transform:translateY(100%)}
to {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes bottomGoTopOpen {0% {-webkit-transform:translateY(100%);transform:translateY(100%)}
to {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes bottomGoTopClose {0% {-webkit-transform:translateY(0);transform:translateY(0)}
to {-webkit-transform:translateY(100%);transform:translateY(100%)}
}
@keyframes bottomGoTopClose {0% {-webkit-transform:translateY(0);transform:translateY(0)}
to {-webkit-transform:translateY(100%);transform:translateY(100%)}
}
.atom-layout-bottomGoTop.js-close {-webkit-animation:bottomGoTopClose .2s ease-in-out forwards;animation:bottomGoTopClose .2s ease-in-out forwards;-webkit-transform:translateY(100%);transform:translateY(100%)}
.atom-layout-bottomGoTop.js-open {-webkit-animation:bottomGoTopOpen .2s ease-in-out forwards;animation:bottomGoTopOpen .2s ease-in-out forwards;-webkit-transform:translateY(0);transform:translateY(0)}
@-webkit-keyframes leftGoRightOpen {0% {-webkit-transform:translateX(-100%);transform:translateX(-100%)}
to {-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes leftGoRightOpen {0% {-webkit-transform:translateX(-100%);transform:translateX(-100%)}
to {-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes leftGoRightClose {0% {-webkit-transform:translateX(0);transform:translateX(0)}
to {-webkit-transform:translateX(-100%);transform:translateX(-100%)}
}
@keyframes leftGoRightClose {0% {-webkit-transform:translateX(0);transform:translateX(0)}
to {-webkit-transform:translateX(-100%);transform:translateX(-100%)}
}
.atom-layout-leftGoRight.js-close {-webkit-animation:leftGoRightClose .2s ease-in-out forwards;animation:leftGoRightClose .2s ease-in-out forwards;-webkit-transform:translateY(100%);transform:translateY(100%)}
.atom-layout-leftGoRight.js-open {-webkit-animation:leftGoRightOpen .2s ease-in-out forwards;animation:leftGoRightOpen .2s ease-in-out forwards;-webkit-transform:translateY(0);transform:translateY(0)}
@-webkit-keyframes rightGoLeftOpen {0% {-webkit-transform:translateX(100%);transform:translateX(100%)}
to {-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes rightGoLeftOpen {0% {-webkit-transform:translateX(100%);transform:translateX(100%)}
to {-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes rightGoLeftClose {0% {-webkit-transform:translateX(0);transform:translateX(0)}
to {-webkit-transform:translateX(100%);transform:translateX(100%)}
}
@keyframes rightGoLeftClose {0% {-webkit-transform:translateX(0);transform:translateX(0)}
to {-webkit-transform:translateX(100%);transform:translateX(100%)}
}
.atom-layout-rightGoLeft.js-close {-webkit-animation:rightGoLeftClose .2s ease-in-out forwards;animation:rightGoLeftClose .2s ease-in-out forwards;-webkit-transform:translateY(100%);transform:translateY(100%)}
.atom-layout-rightGoLeft.js-open {-webkit-animation:rightGoLeftOpen .2s ease-in-out forwards;animation:rightGoLeftOpen .2s ease-in-out forwards;-webkit-transform:translateY(0);transform:translateY(0)}
body {color:#767676;font-size:.3rem}
.js-none {display:none!important}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
p {margin:.2rem 0!important;}
#detail-top-menu .detail-menu-content .main-detail li{margin:0!important;}
.d11_2017 {display:inline-block;background:url(//gw.alicdn.com/tfs/TB150PFgPihSKJjy0FfXXbGzFXa-48-24.png);width:.48rem;height:.24rem;margin-right:.1rem;background-size:cover}
.d11_2017_redbox {position:fixed;right:0;bottom:2rem;width:1.2rem;height:1.2rem;z-index:9999}
.article-div {padding:0 .3rem .5rem}
.article-title {color:#4a4a4a;font-size:.36rem;padding:.2rem 0 0}
.article-time {margin-right:.3rem}
.article-author,.article-time {color:#9b9b9b;font-size:.24rem}
.article-jubao {color:#b9b9b9;font-size:.24rem;margin:0;text-align:center;line-height:1.2}
.first-jubao {margin-top:.6rem}
.article-end {width:2rem;margin:0 auto;position:relative;margin-top:.4rem;height:.28rem}
.article-end .hrleft {float:left;width:.6rem;height:1px;margin-top:.14rem;background:#b9b9b9}
.article-end span {float:left;width:.8rem;height:.28rem;font-size:.28rem;line-height:.28rem;text-align:center;color:#b9b9b9}
.article-end .hrright {float:left;width:.6rem;height:1px;margin-top:.14rem;background:#b9b9b9}
.tbitem-img {width:6.9rem;height:6.9rem}
.item-con {position:relative;margin:.2rem 0;border:1px solid #d0d0d0}
.item-con .title {color:#4a4a4a;padding:.27rem;font-size:.3rem;line-height:1.4;margin:0}
.item-con .coupon-amount-icon {position:relative;border:1px solid #ff002c;height:.34rem;color:#ff002c;padding:0 .05rem 0 .4rem;font-size:.24rem;line-height:.4rem;border-radius:.05rem;display:inline-block;overflow:hidden;margin-right:.2rem;top:-.03rem;background:url(//gw.alicdn.com/tfs/TB1SCdxd3oQMeJjy1XaXXcSsFXa-85-85.png) 0 0 no-repeat;background-size:.36rem .34rem}
.item-con .coupon-amount-icon .icon-left {position:absolute;width:.35rem;height:.5rem;font-size:.24rem;line-height:.36rem;text-align:center;color:#fff;left:0;top:0;z-index:99}
.item-con .coupon-amount-icon span {position:relative;top:-1px}
.item-con .price-title {font-size:.22rem;color:#9b9b9b}
.item-con .price-icon,.item-con .price-title {position:relative;top:-.05rem;vertical-align:middle}
.item-con .price-icon {font-size:.26rem;color:#f60}.ncinfos{width:204px}
.item-con .coupon-price.price,.item-con .coupon-price.price-icon {color:#ff002c}
.item-con .price {font-size:.32rem;color:#f60;vertical-align:middle;position:relative;top:-.07rem}
.item-con .info {margin:0;padding:0 .27rem .25rem;color:#f60;height:.45rem}
.item-con .info .goBtn {float:right;width:1.45rem;height:.45rem;color:#fff;background:#f60;border:none;font-size:.26rem;border-radius:.04rem}
.item-con .info .goBtn.couponBtn {background:#f44}
.item-con .dashed-hr {margin:0 .15rem;height:1px;background:url(//gw.alicdn.com/tfs/TB1hue9XzihSKJjy0FlXXadEXXa-619-2.png) no-repeat;background-size:cover}
.item-con .desc {padding:0 .27rem;color:#767676;font-size:.26rem}
.wordsList {height:.55rem;overflow:hidden}
.wordsList .wordsItem {display:inline-block;height:.55rem;box-sizing:border-box;border:1px solid #ffd082;background:#fffaf1;text-align:center;padding:0 .32rem;border-radius:.275rem;margin-bottom:.1rem}
.wordsList .wordsItem span {font-size:.26rem;line-height:.54rem;color:#4a4a4a;position:relative;top:-.025rem}
.open-side-btn {position:fixed;right:0;bottom:1rem;width:1.71rem;height:.72rem;background:url(//gw.alicdn.com/tfs/TB1kZ8ybRxRMKJjy0FdXXaifFXa-171-72.png);background-size:cover;line-height:1;color:#fff;box-sizing:border-box;z-index:999;font-size:.24rem;padding:.23rem 0 .23rem .64rem;cursor:pointer}
.open-side-btn .js-hasopen-icon {display:inline-block;background:url(//gw.alicdn.com/tfs/TB15nuydgMPMeJjy1XdXXasrXXa-200-200.png_50x50);background-size:cover;width:.25rem;height:.25rem;margin-top:.1rem;position:absolute;top:.135rem;left:.74rem}
.open-side-btn.open {width:1.2rem;z-index:1000;padding:0 0 0 .74rem;right:auto;left:.3rem}
.item-side-list .atom-layout-body {position:fixed;top:0;bottom:0;right:0;left:1.5rem;background:#fff;padding-left:.25rem;padding-bottom:.25rem;}
.side-list-con .side-scroll{overflow-y: scroll;overflow-x: hidden;touch-action: pan-y pinch-zoom;height: 100%;-webkit-overflow-scrolling: touch;transition: all .6s;}
.side-list-con .side-scroll::-webkit-scrollbar {width: 2px;height:1px;}
.side-list-con .side-scroll::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #F90;background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);}
.side-list-con .side-scroll::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 10px;background: #EDEDED;}
.side-list-con {height:100%}
.side-list-con .side-item {display:inline-block;width:100%;height:2rem;position:relative;padding-left:2.1rem;margin-bottom:.16rem}
.side-list-con .side-item .hr-line {position:absolute;right:0;left:2.1rem;bottom:-.07rem;height:1px;background:hsla(0,0%,84%,.7)}
.side-list-con .side-item .coupon-amount-icon {position:relative;border:1px solid #ff002c;height:.34rem;color:#ff002c;padding:0 .05rem 0 .4rem;font-size:.24rem;line-height:.4rem;border-radius:.05rem;display:inline-block;overflow:hidden;margin-right:.2rem;background:url(//gw.alicdn.com/tfs/TB1SCdxd3oQMeJjy1XaXXcSsFXa-85-85.png) 0 0 no-repeat;background-size:.36rem .34rem;vertical-align:middle;top:-.02rem}
.side-list-con .side-item .coupon-amount-icon .icon-left {position:absolute;width:.35rem;height:.5rem;font-size:.24rem;line-height:.36rem;text-align:center;color:#fff;left:0;top:0;z-index:99}
.side-list-con .side-item .coupon-amount-icon span {position:relative;top:-1px}
.side-list-con .side-item .side-item-img {width:2rem;height:2rem;position:absolute;left:0;top:0}
.side-list-con .side-item .side-item-info {display:inline-block;width:3.4rem}
.side-list-con .side-item .title {font-size:.26rem;line-height:.33rem;height:.64rem;display:-webkit-box;white-space:normal;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;margin:.1rem 0 0;color:#000}
.side-list-con .side-item .dis-price {color:#9b9b9b;font-size:.24rem;margin:.15rem 0 0!important}
.side-list-con .side-item .price-title {font-size:.24rem;color:#9b9b9b}
.side-list-con .side-item .price-icon {font-size:.24rem;color:#f44}
.side-list-con .side-item .price-num {font-size:.32rem;color:#f44}
.js-a .item-con .coupon-amount-icon {top:.04rem}
.js-a .side-list-con .side-item .coupon-amount-icon {top:0}
.js-a .open-side-btn {padding:.28rem 0 .2rem .64rem}
.js-layout-show {cursor:pointer}
.centerImg {display:block;margin:0 auto}
.centerBoldP {text-align:center}
.centerBoldP,.leftBoldP {font-weight:700}
.from-xiaomi .wordsList .wordsItem span {position:relative;top:-.05rem}
.from-xiaomi body {font-family:miui;font-size:.34rem;color:rgba(0,0,0,.8)}
.from-xiaomi .side-list-title {font-size:13px;color:rgba(0,0,0,.8);font-weight:700}
.from-xiaomi .side-list-con .side-item .side-item-img {border-radius:2px;overflow:hidden}
.from-xiaomi .side-list-con .side-item .hr-line {-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.from-xiaomi .xm-nav {height:45px;box-sizing:border-box;padding:15px 0 15px 20px;background:#f2f2f2}
.from-xiaomi .xm-nav a {position:absolute;display:inline-block;width:.9rem;height:.9rem;left:0;top:0;padding:.32rem;box-sizing:border-box}
.from-xiaomi .xm-nav .back {display:inline-block;width:.26rem;height:.26rem;background:url(//gw.alicdn.com/tfs/TB17PcfbyERMeJjy0FcXXc7opXa-200-200.png_50x50);background-size:cover;vertical-align:top}
.from-xiaomi .xm-nav .nav-title {font-size:14px;vertical-align:top;line-height:1}
.from-xiaomi .xm-nav-hr {height:1px;width:100%;background:#d9d9d9;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.from-xiaomi .article-div {padding:0 .4rem}
.from-xiaomi .article-title {color:#000;font-size:.38rem;line-height:.6rem;padding:.4rem .5rem .2rem;text-align:center;font-weight:700;word-break:break-word}
.from-xiaomi .article-split {margin:0 .05rem;color:rgba(0,0,0,.6)}
.from-xiaomi .article-info {text-align:center;margin:0 0 .7rem}
.from-xiaomi .article-time {color:rgba(0,0,0,.4);font-size:.24rem}
.from-xiaomi .article-author {color:rgba(0,0,0,.6);font-size:.24rem}
.from-xiaomi .tbitem-img {width:7.1rem;height:7.1rem}
.from-xiaomi p {margin:.2rem 0;text-align:justify}
.from-xiaomi .article-jubao {font-size:.24rem;color:#999;margin:.4rem 0 .6rem;width:100%}
.from-xiaomi .item-con {border-width:1px;border-image:url(//gw.alicdn.com/tfs/TB1HRa3nwoQMeJjy0FpXXcTxpXa-6-6.png) 2 repeat}
.from-xiaomi .item-con .J_TB_ITEM {cursor:pointer;border:none!important;outline:none!important}
.content-pic img{width:100%!important;height:auto!important;}
.from-xiaomi .item-con .tbitem-img {cursor:default}
.from-xiaomi .item-con .title {font-size:.29rem;line-height:1.4;color:rgba(0,0,0,.9);font-weight:700;margin:.25rem .21rem .29rem;padding:0}
.from-xiaomi .item-con .info {margin:0;padding:0 .21rem .25rem;height:.54rem}
.from-xiaomi .item-con .info .goBtn {vertical-align:middle;background:#ff6700;height:.54rem;padding:0 .33rem;color:#fff;font-size:.25rem}
.from-xiaomi .item-con .info .goBtn.couponBtn {background:#ff2538}
.from-xiaomi .item-con .info .coupon-con {vertical-align:baseline}
.from-xiaomi .item-con .info .price-title {vertical-align:text-bottom;line-height:.54rem;color:rgba(0,0,0,.5);font-size:.21rem;top:.03rem}
.from-xiaomi .item-con .info .price-icon {vertical-align:text-bottom;line-height:.54rem;font-size:.25rem;font-weight:700;position:relative;top:.04rem}
.from-xiaomi .item-con .info .price-icon.coupon-price {top:.01rem}
.from-xiaomi .item-con .info .price {vertical-align:text-bottom;line-height:.54rem;font-size:.3rem;font-weight:700;position:relative;top:.03rem}
.from-xiaomi .item-con .info .price.coupon-price {top:.01rem}
.from-xiaomi .item-con .info .coupon-amount-icon {top:.04rem}
.from-xiaomi .item-con .info .coupon-amount-icon .icon-left {line-height:.36rem}
.from-qq p {margin:.4rem 0;text-align:justify;color:#242424;font-size:.36rem;line-height:.56rem}
.from-qq h3,.from-qq p {padding:0 .32rem}
.from-qq .image_con {padding:0}
.from-qq .article-title {text-align:center;font-size:.48rem;line-height:.64rem;color:#242424}
.from-qq .article-info {text-align:center}
.from-qq .article-div {padding:0 0 .5rem}
.from-qq .article-jubao {color:#b9b9b9;font-size:.24rem;margin:0;text-align:center;line-height:1.2}
.from-qq .item-con {padding:0 .32rem;border:none}
.from-qq .item-con .item-con-i {padding:.24rem 0;position:relative;height:1.6rem;padding-left:2.08rem}
.from-qq .item-con .item-con-i .img-con {width:1.92rem;height:1.6rem;position:absolute;overflow:hidden;left:0;top:.24rem}
.from-qq .item-con .item-con-i .img-con .tbitem-img {width:1.92rem;height:1.92rem;position:absolute;transform:translateY(-50%);top:50%}
.from-qq .item-con .item-con-i .item-info .title {font-size:.32rem;line-height:.4rem;color:#242424;padding:0;margin:0;height:.8rem;overflow:hidden}
.from-qq .item-con .item-con-i .item-info .line2 {-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;display:-webkit-box}
.from-qq .item-con .item-con-i .item-info .coupon-price-info {margin-top:.2rem}
.from-qq .item-con .item-con-i .item-info .coupon-price-info .coupon-amount-icon {float:left;margin-top:.1rem}
.from-qq .item-con .item-con-i .item-info .coupon-price-info .price-title {margin-top:.2rem;float:left;line-height:1;color:#aaa;font-size:.24rem}
.from-qq .item-con .item-con-i .item-info .coupon-price-info .price-icon {float:left;line-height:1;font-size:.22rem;color:#f44837;margin-top:.2rem}
.from-qq .item-con .item-con-i .item-info .coupon-price-info .price-num {float:left;line-height:1;font-size:.32rem;color:#f44837;margin-top:.1rem}
.from-qq .item-con .item-con-i .item-info .coupon-price-info .go-btn {float:right;width:1.28rem;height:.56rem;border-radius:.04rem;color:#4c9afa;border:1px solid;font-size:.28rem;line-height:.56rem;text-align:center;box-sizing:border-box}
.from-qq .item-con .item-con-i .item-info .price-info {margin:.2rem 0 0;padding:0}
.from-qq .item-con .item-con-i .item-info .price-info .price-icon {font-size:.22rem;vertical-align:bottom;color:#f44837;line-height:.4rem}
.from-qq .item-con .item-con-i .item-info .price-info .price-num {font-size:.32rem;color:#f44837;vertical-align:bottom}
.from-qq .item-con .item-con-i .item-info .price-info .go-btn {float:right;width:1.28rem;height:.56rem;border-radius:.04rem;color:#4c9afa;border:1px solid;font-size:.28rem;line-height:.56rem;text-align:center;box-sizing:border-box}
.from-qq .item-hr {height:1px;background:#e5e5e5;transform:scaleY(.5)}
.from-oppo body {color:#333;font-size:.354rem}
.from-oppo img {border-radius:.14rem;margin:.2rem 0}
.from-oppo .article-title {font-size:.458rem;color:#333;text-align:center;padding:.2rem .2rem 0;line-height:1.6;font-weight:700}
.from-oppo .article-info {text-align:center;line-height:1;margin:.3rem 0 .5rem}
.from-oppo .article-author {margin-right:.2rem}
.from-oppo .article-author,.from-oppo .article-time {font-size:.27rem;color:#b2b2b2}
.from-oppo .item-con {border:none;margin:.3rem 0}
.from-oppo .item-con .price,.from-oppo .item-con .price-icon {font-size:.36rem;color:#ff401a}
.from-oppo .item-con .title {padding:.27rem 0}
.from-oppo .item-con .info {padding:0 0 .25rem}
.from-oppo .item-con .goBtn {background:#fff;color:#ff401a;border:1px solid;font-size:.32rem;height:.62rem;border-radius:.31rem;width:1.88rem;line-height:.58rem;position:relative;top:-.08rem;outline:none}
.from-oppo .item-con .J_TB_ITEM:active .goBtn {opacity:.3}
.from-oppo .tbitem-img {background:#f5f5f5;border-radius:.14rem}
.errorTip {padding:1.88rem 0;background:#f1f1f1}
.errorTip .error-img {width:2rem;height:2rem;background:url(//gw.alicdn.com/tfs/TB1.iegSVXXXXX8XVXXXXXXXXXX-330-330.png);background-size:cover;margin:0 auto}
.errorTip .main-des {text-align:center;color:#666;font-size:.32rem}
.errorTip .more-des {text-align:center;color:#999;font-size:.28rem}
.from-wifi .article-title {font-size:24px;color:#222;line-height:1.42}
.from-wifi .article-time {vertical-align:super;color:#505050;font-size:13px}
.from-wifi .article-author {float:left;margin-right:.1rem;color:#505050;font-size:13px}
.from-wifi body {color:#222;font-size:17px;line-height:1.5}
@media only screen and (min-width:375px) {.from-wifi body {font-size:18px}
}
.from-zhangtong .article-title {font-size:.4rem;color:#333;line-height:.54rem}
.from-zhangtong .article-author {margin-right:.2rem;color:#818d9d}
.from-zhangtong .article-time {color:#818d9d}
.from-zhangtong p {font-size:.34rem;color:#333;line-height:.54rem}
.from-zhangtong .end-tip {font-size:.28rem;color:#bbbbbd;line-height:.48rem}
.recommend-top-hr {width:100%;height:.3rem;background:#f1f1f1}
.recommend {padding:.3rem}
.recommend .recommend-title {width:3rem;height:.28rem;margin:.15rem auto}
.recommend .recommend-title .hrleft,.recommend .recommend-title .hrright {float:left;width:.7rem;height:1px;margin-top:.14rem;background:#4a4a4a}
.recommend .recommend-title .name {font-size:.26rem;line-height:.28rem;float:left;width:1.6rem;text-align:center;color:#4a4a4a}
.recommend .recommend-list .recommend-item:last-child .recommend-hr {display:none}
.recommend .recommend-list .recommend-item {position:relative;height:1.5rem;padding:.25rem 0 .25rem 1.8rem}
.recommend .recommend-list .recommend-item .recommend-img-con {position:absolute;left:0;top:.25rem;width:1.5rem;height:1.5rem}
.recommend .recommend-list .recommend-item .recommend-img-con img {width:1.5rem;height:1.5rem}
.recommend .recommend-list .recommend-item .recommend-info-con {height:1.5rem;position:relative}
.recommend .recommend-list .recommend-item .recommend-info-con p {margin:0}
.recommend .recommend-list .recommend-item .recommend-info-con .recommend-item-title {font-size:.28rem;color:#4a4a4a}
.recommend .recommend-list .recommend-item .recommend-info-con .recommend-item-info {position:absolute;left:0;bottom:0}
.recommend .recommend-list .recommend-item .recommend-info-con .recommend-item-time {font-size:.24rem;color:#9b9b9b;margin-right:.3rem}
.recommend .recommend-list .recommend-item .recommend-info-con .recommend-item-author {font-size:.24rem;color:#9b9b9b}
.recommend .recommend-list .recommend-item .recommend-hr {width:5.3rem;height:1px;background:#e6e6e6;position:absolute;right:0;bottom:0}
.from-xiaomi .recommend-top-hr {width:100%;height:.2rem;background:#f1f1f1}
.from-xiaomi .recommend {padding:0 .4rem}
.from-xiaomi .recommend .recommend-title {font-size:13px;line-height:.8rem;color:rgba(0,0,0,.8);height:.8rem;margin:0 auto;width:100%;font-weight:700}
.from-xiaomi .recommend .recommend-list .recommend-item:last-child .recommend-hr {display:none}
.from-xiaomi .recommend .recommend-list .recommend-item {position:relative;height:.92rem;padding:.15rem 0 .15rem 1.24rem}
.from-xiaomi .recommend .recommend-list .recommend-item .recommend-img-con {position:absolute;left:0;top:.17rem;width:.92rem;height:.92rem;border-width:1px;border-image:url(//gw.alicdn.com/tfs/TB1HRa3nwoQMeJjy0FpXXcTxpXa-6-6.png) 2 repeat;border-style:solid}
.from-xiaomi .recommend .recommend-list .recommend-item .recommend-img-con img {width:.92rem;height:.92rem}
.from-xiaomi .recommend .recommend-list .recommend-item .recommend-info-con {height:.92rem;position:relative}
.from-xiaomi .recommend .recommend-list .recommend-item .recommend-info-con .recommend-item-title {font-size:.28rem;color:#4a4a4a;position:absolute;left:50%;top:50%;width:100%;transform:translate(-50%,-50%);margin:0;line-height:1.5;font-weight:700}
.from-xiaomi .recommend .recommend-list .recommend-item .recommend-hr {width:5.46rem;height:1px;background:#e6e6e6;position:absolute;right:0;bottom:0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.from-zhangtong .recommend-top-hr {height:.2rem}
.from-zhangtong .recommend .recommend-title {width:100%;height:auto;margin:0;font-size:.28rem;color:#818d9d}
.from-zhangtong .recommend .recommend-list .recommend-item {padding:.2rem 1.8rem .2rem 0}
.from-zhangtong .recommend .recommend-list .recommend-item .recommend-img-con {right:0;left:auto}
.from-zhangtong .recommend .recommend-list .recommend-item .recommend-hr {left:0;width:auto;background:#eee}
.from-zhangtong .recommend .recommend-list .recommend-item .recommend-item-title {font-size:.34rem;color:#333;line-height:.48rem}
.from-zhangtong .recommend .recommend-list .recommend-item .recommend-info-con .recommend-item-author {color:#818d9d}
.title-con {text-align:center;padding:.2rem 0}
.title-con .left-line {width:.73rem;height:.03rem;background:#4a4a4a}
.title-con .left-line,.title-con .title {display:inline-block;vertical-align:middle}
.title-con .title {width:1.65rem;text-align:center;font-size:.26rem;color:#4a4a4a}
.title-con .right-line {display:inline-block;width:.73rem;height:.03rem;background:#4a4a4a;vertical-align:middle}
.like-list {overflow:hidden}
.like-item {width:50%;box-sizing:border-box;float:left;background:#f1f1f1}
.like-item a {background:#fff;display:block}
.like-item .like-lazy-img {width:3.7rem;height:3.7rem}
.like-item .info-con {padding:0 .2rem}
.like-item .info-con .title {font-size:.26rem;line-height:.37rem;color:#000;margin:.1rem 0}
.like-item .info-con .price {padding-bottom:.1rem;margin:0 0 .1rem}
.like-item .info-con .price-icon {font-size:.26rem;color:#f44}
.like-item .info-con .price-num {font-size:.32rem;color:#f44}
.like-item:nth-child(odd) {padding-right:.05rem}
.like-item:nth-child(2n+0) {padding-left:.05rem}
.more-btn-con {padding:.28rem 0 .4rem;text-align:center;height:.63rem}
.more-btn-con .more-btn {height:.63rem;width:2.2rem;text-align:center;box-sizing:border-box;border:1px solid #d1d1d1;color:#f44;line-height:.61rem;background:#fff;border-radius:.32rem;cursor:pointer;display:inline-block}
.from-xiaomi .title-con {background:#fff;text-align:left;padding:.2rem 0 .22rem}
.from-xiaomi .title-con .left-line,.from-xiaomi .title-con .right-line {display:none}
.from-xiaomi .title-con .title {font-weight:700;color:rgba(0,0,0,.8);width:auto;margin-left:20px;font-size:13px}
