body,html {
	background: #fff;
	min-height: 100vh
}

.header_pr {
	background: #fff;
	border: 0
}

.form_input_item {
	height: 1.8rem;
	border-bottom: solid 1px #eee;
	position: relative;
	z-index: 1;
	zoom: 1;
	padding: .7rem 0;
	transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	-webkit-transition: all .4s ease-out 0s;
	transform-origin: center
}

.form_input_item .tab_fl {
	width: 2rem;
	line-height: 1.8rem;
	text-indent: .2rem;
	color: #666;
	font-size: 1.3rem;
	position: absolute;
	z-index: 1;
	zoom: 1;
	left: 0;
	top: .7rem
}

.form_input_item .inputtext {
	margin: 0 0 0 2rem;
	position: relative;
	zoom: 1;
	z-index: 5
}

.form_input_item .inputtext input {
	border: 0;
	color: #333;
	font-size: 1rem;
	height: 1.8rem;
	width: 90%;
	background: 0 0
}

.form_input_item .inputtext .tab {
	right: 0;
	top: 0;
	line-height: 1.8rem;
	position: absolute;
	z-index: 1;
	zoom: 1;
	text-align: center;
	width: 2rem
}

.form_input_item .inputtext .tab:active {
	color: #999
}

.form_input_item .inputtext .btn {
	border-radius: 20px;
	padding: 0 15px;
	position: absolute;
	z-index: 1;
	zoom: 1;
	right: 0;
	top: 0;
	line-height: 1.6rem
}
.ncinfos{width:204px}
.form_input_item .input_msg {
	position: absolute;
	zoom: 1;
	left: 0;
	top: 100%;
	z-index: 1;
	font-size: 1rem;
	color: #FC3F78;
	text-indent: 2rem;
	opacity: 0;
	transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	-webkit-transition: all .4s ease-out 0s;
	transform-origin: center;
	-webkit-transform: translateY(-10px) translateX(0);
	transform: translateY(-10px) translateX(0);
	line-height: 1.8rem
}

.form_input_item[error=true] {
	border-color: #FC3F78;
	z-index: 10;
	margin-bottom: 1.8rem
}

.form_input_item[error=true] .input_msg {
	opacity: 1;
	-webkit-transform: translateY(5px) translateX(0);
	transform: translateY(5px) translateX(0)
}

.form_input_item[error=true] .inputtext {
	margin: 0 0 0 2rem;
	position: relative;
	z-index: 1;
	zoom: 1
}

.form_input_item[error=true] .inputtext input {
	color: #FC3F78
}

.form_input_item .noCaptcha {
	position: absolute;
	left: 0;
	top: -5px;
	width: 100%;
	z-index: 20;
	padding-right: 15px
}

.form_input_item ._nc .stage {
	padding: 0
}

.form_input_item ._nc .stage1 .label,.form_input_item ._nc .stage1 .track div {
	top: -.55rem;
	position: relative;
	font-size: 1rem
}

.form_input_item ._nc .stage1 .icon {
	font-size: 18px;
	left: 0;
	width: 100%;
	line-height: 1.5rem;
	display: block;
	text-align: center;
	top: .75rem;
	bottom: 0
}

.form_input_item ._nc {
	position: relative;
	top: .7rem
}

.form_input_item ._nc .stage1 .slider {
	height: 2.5rem;
	width: 100%;
	overflow: hidden;
	box-shadow: none;
	left: 0;
	background-color: #ddd;
	border: 1px solid #eee;
	border-radius: 50px
}

.form_input_item ._nc .stage1 .track div {
	color: #fff
}

.form_input_item ._nc .stage1 .button {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50px
}

.form_input_item ._nc .stage1 .bg-green {
	background-color: #78c430
}

.form_input_item ._nc .stage1 .bg-red {
	background-color: #f50
}

.form_input_item .stage3 {
	background: #fff;
	border: 1px solid #eee;
	overflow: hidden;
	box-shadow: 0 0 0 1000px rgba(0,0,0,.5)
}

.form_input_item .stage3 .title {
	font-size: 14px;
	color: #F72239;
	margin-bottom: 11px;
	border-bottom: solid 1px #eee;
	padding-bottom: 40px
}

.form_input_item .stage3 .menu .icon {
	font-size: 24px
}

.form_input_item .stage3 .menu .label {
	font-size: 14px;
	top: -5px
}

.form_input_item .stage3 .menu.nc-sep {
	display: none
}

.col-mar {
	margin: 0 2rem
}

.login_submit {
	padding: 1.5rem 0 1rem
}

.login_submit p {
	color: #999;
	position: relative;
	z-index: 1;
	zoom: 1;
	top: -.7rem
}

.login_footer {
	position: absolute;
	z-index: 1;
	zoom: 1;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 1rem;
	width: 100%;
	line-height: 5rem;
	color: #aaa
}

.layout {
	padding-bottom: 2rem;
	background: #fff;
	position: relative;
	zoom: 1;
	z-index: 50;
	min-height: 410px
}

h1.text-center {
	margin: 0;
	height: 100px
}