@charset "utf-8";
/* CSS Document */

body, li, ul, ol, dl, dt, dd, form, input, textarea, h1, h2, h3, h4, h5, h6, p,select{ margin: 0px; padding: 0px; list-style-type:none; font-size: 12px; /*解决ie6缓动*/ background-attachment: fixed; font:12px/1.5 tahoma,arial,宋体;outline: 0 none;}

input { margin: 0px; padding: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; font:12px/1.5 tahoma,arial,宋体;}
a { text-decoration: none; cursor:pointer; color: #333; outline: 0 none; font-weight: 600; }
a:hover { text-decoration:none; }
a img { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; margin: 0px; padding: 0px; vertical-align: middle; }
img { border:0 none!important; vertical-align:middle; }
em{ font-style:normal;}
.clear { line-height: 0px; clear: both; float: none; height: 0px; font-size: 0px; margin: 0px; padding: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.fl { float: left; display: inline;}
.fr { float: right; display: inline; }

.clearfix:after { clear: both; content: ""; display: block; height: 0; }




/*header*/
body { background: #F8F8F8; }

/**/

/*footer*/
#footer { background: #FFFFFF; border-top: 1px solid #E6E6E6; margin-top: 30px; padding: 15px 0; width: 100%;}



.copyRight{ text-align:center; margin-top:15px;color:#666666}
.contact{text-align:center;padding-top:10px;color:#666666}
/*backtop*/




