@charset "utf-8";
/** CSS Document 
* Dec: mid-autumn style 
* Date: 2014-12-04;
* Author: yangtata;
**/
.foot{ margin-top: 0;}
.img-show{ width: 100%; height: 280px; background: url( ../images/consumer/consumer_banner.jpg) no-repeat center center #F8044E;}
.img-show a{display: block; text-indent: -999999px;}
.h360{ height: 364px;}
.consumer01{width: 100%; height: 180px; background: #fff;}
.consumer01 .xiaobao{ border: none;}.ncinfos{width:204px}
.xiaobao .xb_cons{ width: 981px; margin: 0 auto; height: 100px; background: url( ../images/consumer/consumer01.gif) no-repeat center center;} 
.xb_cons .xb_s1{  left: 58px;} 
.xb_cons .xb_s2{  left: 191px;}
.xb_cons .xb_s3{  left: 323px;}
.xb_cons .xb_s4{  left: 455px;}
.xb_cons .xb_s5{  left: 587px;}
.xb_cons .xb_s6{  left: 721px;}
.xb_cons .xb_s7{  left: 852px;}
.consumer02{background: url( ../images/consumer/consumer02.jpg) no-repeat center center #f6f6f6;}
.consumer03{background: url( ../images/consumer/consumer03.jpg) no-repeat center center #fff;}
.consumer04{background: url( ../images/consumer/consumer04.jpg) no-repeat center center #f6f6f6;}
.consumer05{background: url( ../images/consumer/consumer05.jpg) no-repeat center center #fff;}
.consumer06{background: url( ../images/consumer/consumer06.jpg) no-repeat center center #f6f6f6;}
.consumer07{background: url( ../images/consumer/consumer07.jpg) no-repeat center center #fff;}
.consumer08{background: url( ../images/consumer/consumer08.jpg) no-repeat center center #f6f6f6;}
.consumer09{ height: 130px; background: #fff;}

