@charset "utf-8";
@font-face{font-family:fashion;src:url(https://at.alicdn.com/t/font_1462411824_0766392.eot);src:url(https://at.alicdn.com/t/font_1462411824_0766392.eot?#iefix) format('embedded-opentype'),url(https://at.alicdn.com/t/font_1462411824_0766392.woff) format('woff'),url(https://at.alicdn.com/t/font_1462411824_0766392.ttf) format('truetype'),url(https://at.alicdn.com/t/font_1462411824_0766392.svg#fashion) format('svg')}
body{*overflow-x:hidden}
.ifont{font-family:fashion!important;font-style:normal}
.clearfix{*zoom:1}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.g_price{font-family:arial}
.g_price span{margin-right:3px;color:#999}
.g_price strong{color:#f03;font-weight:700;font-family:'Microsoft Yahei',arial}
.g_price strong b{margin-left:3px;font-weight:700}
.g_price-highlight span{color:#f03}
.g_price-reversed span,.g_price-reversed strong{color:#fff}
.g_price-original strong{color:#999;font-weight:400;text-decoration:line-through}
.g_price-big span{font-size:30px}
.g_price-big strong b{font-size:30px}
.mods-layout{width:1190px;margin:0 auto;overflow:hidden}
.mods-layout .mods-layout-left{width:890px;float:left;min-height:1px}
.mods-layout .mods-layout-right{width:300px;float:left}
.ks-dialog,.ks-overlay{position:fixed;_position:absolute;z-index:12000;left:-9999px;top:-9999px;outline:0;-webkit-tap-highlight-color:transparent}
.ks-overlay-hidden{visibility:hidden}
.ks-overlay-mask-hidden{display:none}
.ks-dialog,.ks-popup{background-color:#FBFBFB;border:1px solid #ACB4BE}
.ks-overlay-mask{background-color:#000;opacity:.3;filter:alpha(opacity=30)}
.ifashion-loading{color:#fff}
li,ul{list-style:none}
em,i{font-style:normal}
*{margin:0;padding:0}
@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(1,1)}
20%{-webkit-transform:scale(1.1,1.1)}
80%{-webkit-transform:scale(.9,.9)}
100%{-webkit-transform:scale(1,1)}
}
@-ms-keyframes fadeIn{0%{-ms-transform:scale(1,1)}
20%{-ms-transform:scale(1.1,1.1)}
80%{-ms-transform:scale(.9,.9)}
100%{-ms-transform:scale(1,1)}
}
@-moz-keyframes fadeIn{0%{-moz-transform:scale(1,1)}
20%{-moz-transform:scale(1.1,1.1)}
80%{-moz-transform:scale(.9,.9)}
100%{-moz-transform:scale(1,1)}
}
@-o-keyframes fadeIn{0%{-o-transform:scale(1,1)}
20%{-o-transform:scale(1.1,1.1)}
80%{-o-transform:scale(.9,.9)}
100%{-o-transform:scale(1,1)}
}
@keyframes fadeIn{0%{transform:scale(1,1)}
20%{transform:scale(1.1,1.1)}
80%{transform:scale(.9,.9)}
100%{transform:scale(1,1)}
}
.userinfo-vertical{width:300px;border:1px solid #ededed;border-left:none;background:url(../images/300-41.png) repeat-y;overflow:hidden}
.userinfo-vertical .hid-headpic{background:url(../images/300-41.png) no-repeat;position:absolute;height:48px;width:300px}
.userinfo-vertical .headpic{height:120px;width:120px;padding:38px 90px 0 90px}
.userinfo-vertical .headpic img{height:100%;width:100%;border-radius:50%}
.userinfo-vertical .user-detail{text-align:center;margin-top:10px}
.userinfo-vertical .user-detail .nick{font-size:14px}
.userinfo-vertical .user-detail .nick a{text-decoration:none}
.userinfo-vertical .user-detail .nick span{color:#000}
.userinfo-vertical .user-detail .fans-favor{margin-top:2px;font-size:14px;color:#b0b0b0}
.userinfo-vertical .user-detail .fans-favor .fans{margin-right:25px}
.userinfo-vertical .user-detail .kan-chao-dongtai{margin:25px 40px 0 40px;display:inline-block;font-size:14px}
.userinfo-vertical .user-detail .kan-chao-dongtai .kantugou{float:left;width:68px;border-right:1px solid #ededed}
.userinfo-vertical .user-detail .kan-chao-dongtai .chaoliuzhi{float:left;width:68px;border-right:1px solid #ededed}
.userinfo-vertical .user-detail .kan-chao-dongtai .dongtai{float:left;width:68px}
.userinfo-vertical .user-detail .kan-chao-dongtai .number{font-size:16px;font-weight:600}
.userinfo-vertical .user-detail .kan-chao-dongtai .text{color:#666}
.userinfo-vertical .user-detail .btn-focus{font-size:14px;margin-top:30px;margin-bottom:20px;margin-left:0;*margin-left:0;border-radius:2px;height:25px;width:auto;color:#000;background-color:#fff;cursor:pointer;line-height:22px}
.userinfo-vertical .user-detail .btn-focus em.ifont{color:#F03;font-size:12px}
.userinfo-vertical .user-detail .btn-focus em.text-middle{vertical-align:middle}
.ncinfos{width:204px}
.userinfo-vertical .user-detail .btn-focus:hover em.ifont{color:#fff}
.userinfo-vertical .user-detail .btn-focused{font-size:14px;margin-top:30px;margin-bottom:20px;margin-left:113px;*margin-left:0;border:1px solid #d7d7d7;border-radius:2px;height:25px;width:70px;color:#666;background-color:#e6e6e6;cursor:pointer}
.userinfo-vertical .user-detail .btn-focused em.text-middle{vertical-align:middle}
.userinfo-vertical .user-detail .btn-focused em.ifont{display:none}
.userinfo-vertical .user-detail .nodisplay{display:none!important}
.userinfo-vertical .user-detail .about{text-indent:24px;margin:40px 20px 0 20px;font-size:12px;color:#666;text-align:left}
body{background-color:#f3f3f3}
.pageWrap{background:#fff;overflow:hidden}
.pageWrap .pic-left{border-right:1px solid #ededed;width:888px}
.pageWrap .pic-left .page-detail{height:100%;margin-top:18px}
.pageWrap .pic-left .page-detail .detail-wrap{padding-bottom:30px;margin-bottom:10px;border-bottom:1px solid #e5e5e5}
.pageWrap .pic-left .page-detail .detail-wrap-pic{margin:0 50px;background:#fbfbfb}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic{position:relative;margin-left:194px;width:400px;height:600px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .imgDiv{width:400px;height:600px;overflow:hidden;position:absolute;line-height:600px;text-align:center}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .imgDiv .detail-bg{position:absolute;top:0;left:0;max-width:100%;vertical-align:middle;height:100%}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-share{position:absolute;top:0;right:100px;width:34px;height:33px;cursor:pointer;color:#fff;line-height:33px;text-align:center;background-color:#261f15;font-size:22px;margin-top:10px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-share:hover{background-color:#ff0035;filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like{position:absolute;top:0;right:0;margin:10px;height:33px;min-width:74px;background:#261f15;cursor:pointer;color:#fff;line-height:34px;font-size:16px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like:hover{background-color:#ff0035;filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like em.like-text{margin-left:11px;margin-right:11px;font-size:18px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like .tbc-dig-button{text-decoration:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like .tbc-dig-count i{display:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like .tbc-dig-button-title{font-family:ifont;padding-left:8px;padding-right:8px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like .tbc-counter-num{padding-right:11px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like .tbc-tb-dig-tip{display:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-like .tbc-like-wrap{text-align:center;text-decoration:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked{position:absolute;top:0;right:0;margin:10px;height:33px;min-width:74px;background-color:#ff0035;filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5;cursor:pointer;color:#fff;line-height:34px;font-size:16px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked:hover{background-color:#ff0035;filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked:hover em.like-text{margin-left:11px;margin-right:11px;font-size:18px;color:#fff}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked em.like-text{margin-left:11px;margin-right:11px;font-size:18px;color:#fff}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked .tbc-dig-button{text-decoration:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked .tbc-dig-count i{display:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked .tbc-dig-button-title{font-family:ifont;padding-left:8px;padding-right:8px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked .tbc-counter-num{padding-right:11px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked .tbc-tb-dig-tip{display:none}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-liked .tbc-like-wrap{text-align:center;text-decoration:none}
@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(1,1)}
20%{-webkit-transform:scale(1.1,1.1)}
80%{-webkit-transform:scale(.9,.9)}
100%{-webkit-transform:scale(1,1)}
}
@-ms-keyframes fadeIn{0%{-ms-transform:scale(1,1)}
20%{-ms-transform:scale(1.1,1.1)}
80%{-ms-transform:scale(.9,.9)}
100%{-ms-transform:scale(1,1)}
}
@-moz-keyframes fadeIn{0%{-moz-transform:scale(1,1)}
20%{-moz-transform:scale(1.1,1.1)}
80%{-moz-transform:scale(.9,.9)}
100%{-moz-transform:scale(1,1)}
}
@-o-keyframes fadeIn{0%{-o-transform:scale(1,1)}
20%{-o-transform:scale(1.1,1.1)}
80%{-o-transform:scale(.9,.9)}
100%{-o-transform:scale(1,1)}
}
@keyframes fadeIn{0%{transform:scale(1,1)}
20%{transform:scale(1.1,1.1)}
80%{transform:scale(.9,.9)}
100%{transform:scale(1,1)}
}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock{position:absolute;cursor:default;display:inline-block;font-size:0}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock:after{content:'';position:absolute;right:-11px;top:0;width:0;height:0;border-style:solid;border-width:11px 0 11px 11px;border-color:transparent transparent transparent rgba(0,0,0,.7)}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock .r-circle{position:absolute;top:5px;right:-24px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgJJREFUeNpiZMANuIDYCIplgFgQiJmA+D0QvwDic0B8Fog/YtPMiEWMFYjdgdgXiLkZ8IOfQLwTiDcD8Xd8BgsAcQEQqzCQBp4DcR+UBgNmNEMbod4mFfACsQ0QnwfiT8gGg7xfDsTSDOQDkBl6QHwUiH/BDPYGYlsGygEoTjiA+AITlOOLS2VgYKDo8ePH7d++fRv4/v37oJMnTzpER0eL4zHcEYjFQZFnB8Rp2FRMnTpVOzMzU58RCNCk/i9atOhqfHz8RRyGrwUFRSAQS6HLhISEiHZ1dVlhMRScmvT19cUeP3789vz585+x5QEmXKmguLhYC4ehcFBQUKCFQ0qKCZrMMIC6urowoZhSUVERYmJiwibFxsRAIwAy+AM2iZs3b74lpPnOnTvv/v37h03qF8jgJ9hkent7r/0HAnwGT5gw4RoOqWegVMEGxMboMteuXfsmJib2z8TERBxXcquvr7+Dw+C9IIPfALEzNEuigG3btr2+dOnSC3l5eXYuLi6Wnz9//gHyX5WXl59qamq6i8PQv0A8D+YSUM4Lp1K87QHiBbBUsQOI71LB0FdAvAa5dANF7QUgNoPWHOSAb0DcAQ1alPL4BxCfAGI1IBYio6BvB6UGbAU9zPCjUFoRmmIIVU3bgHgmtC7EW+ehV6bG0PJEAClDPYfWFmdwVaYAAQYAxHiMgasK9mMAAAAASUVORK5CYII=);width:11px;height:11px;background-size:contain;background-position:center center;-webkit-animation:fadeIn 2s linear 0s infinite;-moz-animation:fadeIn 2s linear 0s infinite;-ms-animation:fadeIn 2s linear 0s infinite;-o-animation:fadeIn 2s linear 0s infinite;animation:fadeIn 2s linear 0s infinite}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock .r-detail-icon{border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;text-decoration:none;text-align:left;vertical-align:middle;font-size:14px;line-height:1;padding:4px 0 4px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000');background:rgba(0,0,0,.7);display:inline-block;color:#fff}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock .r-detail-icon em{display:inline-block;font-weight:100;font-size:14px;color:#fff}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock .r-detail-icon .r-cate{padding-left:28px;padding-right:4px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock .r-detail-icon .ifont{font-weight:100;position:absolute;top:0;left:0;font-size:24px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .r-detail-dock .r-detail-icon .ifont-wrap{background:#fc3077;height:100%;width:24px;position:absolute;top:0;left:0;display:inline-block;border-top-left-radius:4px;border-bottom-left-radius:4px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock{position:absolute;cursor:default;display:inline-block;font-size:0}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock:before{content:'';position:absolute;left:-11px;top:0;width:0;height:0;border-style:solid;border-width:11px 11px 11px 0;border-color:transparent rgba(0,0,0,.7) transparent transparent}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock .circle{position:absolute;top:5px;left:-24px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABFElEQVR42rXVvUrEQBSG4SFg4Q9oJ4KXIhbaahEINmkkF6AWewEKVruraJHC1RUCuYlFsA2phHgJWtgkqZzCYtfXrRacnBCW88FTzfBBfmaOEbKGPZyhj0eMMUQPB9g0HbKCIzwgbTHGCVYhZguXSDsaYEcqvRcLZCPsuh7/CumSbrGxWHzcqUB2innWMWra6Pv+JMuyj7Isv+u6tnmef4Zh+CIUJ9iG2W/aFMfx25TM/meaJMm7UO7DXLgWgyCYzEuFRFH02lB8DTN0Lf49/qwlRVF8NRQ/wzy5Fquqsm3F1tofz/McxdAqVnsVah9P7XdTOyAqR1rtEnJdm3fLXpu6F73+aJKH6TkGC8P0Bj0cSsP0F7YM+wUkeNh1AAAAAElFTkSuQmCC);background-size:contain;background-position:center center;width:11px;height:11px;-webkit-animation:fadeIn 2s linear 0s infinite;-moz-animation:fadeIn 2s linear 0s infinite;-ms-animation:fadeIn 2s linear 0s infinite;-o-animation:fadeIn 2s linear 0s infinite;animation:fadeIn 2s linear 0s infinite}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock .detail-icon{text-decoration:none;text-align:left;vertical-align:middle;font-size:14px;line-height:1;padding:4px 0 4px;border-top-right-radius:4px;border-bottom-right-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000');background:rgba(0,0,0,.7);display:inline-block;color:#fff}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock .detail-icon .cate{padding-right:28px;padding-left:4px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock .detail-icon .ifont-wrap{background:#fc3077;height:100%;width:24px;position:absolute;top:0;right:0;display:inline-block;border-top-right-radius:4px;border-bottom-right-radius:4px}
.pageWrap .pic-left .page-detail .detail-wrap-pic .detail-pic .detail-dock .detail-icon .ifont{font-weight:100;font-size:24px;position:absolute;top:0;right:0}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock .dock-list{display:none}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list{display:block;position:absolute;top:16px;left:14px;padding-left:15px}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .arrow-left{margin-top:-12px;left:3px;display:block;position:absolute;width:0;height:0;border-width:6px;border-style:solid dashed dashed;border-color:transparent #fff transparent transparent;font-size:0;line-height:0}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail{margin-top:-17px;float:left;display:inline-block;*display:inline;zoom:1;width:250px;heigth:90px;background-color:#fff}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail img{margin:10px;width:70px;height:70px;float:left}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail a{text-decoration:none}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail .list-info .info-title{display:block;margin-top:12px;font-size:10px;line-height:1.5;color:#999;text-align:left;height:36px;overflow:hidden;word-wrap:break-word}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail .list-info .info-tip{display:block;margin-top:12px;font-size:13px;font-weight:700;color:red}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail .list-info .info-price{display:block;margin-top:10px;float:left;padding:4px;line-height:1;color:#d3d3d3}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail .list-info .info-price .price-yen{margin-right:2px;font-size:12px;color:#666}
.pageWrap .pic-left .page-detail .detail-pic span.detail-dock:hover .dock-list .dock-detail .list-info .info-price .price-price{font-size:16px;color:#f03}
.pageWrap .pic-left .page-detail .detail-tag-wrap{border-bottom:1px solid #e7e7e7;text-align:center;color:#666}
.pageWrap .pic-left .page-detail .detail-tag-wrap i{float:left;font-size:20px;margin-right:20px;padding-left:30px}
.pageWrap .pic-left .page-detail .detail-tag-wrap span{display:inline-block;color:#666;font-size:14px}
.pageWrap .pic-left .page-detail .detail-tag-wrap .detail-tag{overflow:hidden;display:inline-block}
.pageWrap .pic-left .page-detail .detail-tag-wrap .detail-tag li{display:inline-block;margin-right:20px}
.pageWrap .pic-left .page-detail .detail-tag-wrap .detail-tag li.last{margin-right:0}
.pageWrap .pic-left .page-detail .detail-tag-wrap .detail-tag a{display:inline-block;padding:6px 10px;height:12px;font-size:14px;line-height:14px;text-align:center;color:#666;border:1px solid #dedede;border-radius:2px;text-decoration:none;margin-bottom:10px}
.pageWrap .pic-left .page-detail .detail-tag-wrap .detail-tag li:hover a{color:#fff;background-color:#f03;border:1px solid transparent}
.pageWrap .pic-left .page-detail .detail-about-wrap{position:relative;display:block;width:828px;margin:30px 30px;text-align:justify}
.pageWrap .pic-left .page-detail .detail-about-wrap .desc-icon-s{position:absolute;top:-14px;left:0}
.pageWrap .pic-left .page-detail .detail-about-wrap .desc-icon-e{position:absolute;bottom:0;right:-10px}
.pageWrap .pic-left .page-detail .detail-about-wrap .about{margin:auto;width:768px;color:#666;font-size:14px;line-height:24px;display:inline;padding-left:30px}
.pageWrap .pic-left .page-detail .detail-items-wrap{margin:0 0 20px 30px;font-size:14px;line-height:1}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-title{text-align:center;margin-bottom:20px;font-size:20px;line-height:20px;color:#666}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-title img{height:12px}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics{position:relative;font-size:0}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics a{display:inline-block;text-decoration:none;width:200px;margin-right:10px;color:#666;margin-bottom:10px;font-size:14px}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics a img{width:200px;height:200px}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics p{margin-top:8px;line-height:16px;max-height:32px;overflow:hidden}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics span{display:inline-block;margin-top:8px;color:#333}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics .rongzai-a{position:absolute;top:0;right:17px;width:410px}
.pageWrap .pic-left .page-detail .detail-items-wrap .item-pics .rongzai-a img{width:410px;height:200px}
.pageWrap .pic-left .page-other{padding-top:42px;width:299px;height:100%;border-left:1px solid #ededed;background:url(../images/3-3.jpg);overflow:hidden}
.pageWrap .pic-left .page-other .other-user{display:block;text-decoration:none;color:#000}
.pageWrap .pic-left .page-other .other-user *{text-decoration:none}
.pageWrap .pic-left .page-other .other-user img{display:block;margin-left:auto;margin-right:auto;width:120px;height:120px;border-radius:50%}
.pageWrap .pic-left .page-other .other-user .user-name{display:block;margin-top:21px;text-align:center;line-height:1;font-size:14px}
.pageWrap .pic-left .page-other .other-userCount{margin-top:21px;margin-left:auto;margin-right:auto;width:194px}
.pageWrap .pic-left .page-other .other-userCount li{float:left;width:64px;border-right:1px solid #d7d7d7}
.pageWrap .pic-left .page-other .other-userCount li p{line-height:1;text-align:center}
.pageWrap .pic-left .page-other .other-userCount li .userCount-title{margin-bottom:9px;font-size:18px}
.pageWrap .pic-left .page-other .other-userCount li .userCount-count{font-size:14px}
.pageWrap .pic-left .page-other .other-userCount li.last{border-right:0}
.pageWrap .pic-left .page-other .other-follow{margin-left:auto;margin-right:auto;margin-top:19px;width:69px;height:32px;border:1px solid #000;font-size:14px;line-height:32px;color:#000;cursor:pointer}
.pageWrap .pic-left .page-other .other-follow .tbc-dig-button{text-decoration:none}
.pageWrap .pic-left .page-other .other-follow .tbc-dig-button-title{font-family:ifont}
.pageWrap .pic-left .page-other .other-follow .tbc-dig-button-title em{margin-right:7px;vertical-align:1px}
.pageWrap .pic-left .page-other .other-follow .tbc-dig-count{display:none}
.pageWrap .pic-left .page-other .other-follow .tbc-like-wrap{text-align:center;text-decoration:none}
.pageWrap .pic-left .page-other .other-follow .tbc-tb-dig-tip{display:none}
.pageWrap .pic-left .page-other .other-des{margin-left:auto;margin-right:auto;width:250px;margin-top:23px;font-size:12px;color:#666;line-height:24px;text-indent:2em}
.pageWrap .pic-left .page-other .other-line{margin-top:82px;height:1px;background:#ededed}
.pageWrap .pic-left .page-other .other-more{margin-left:15px;margin-top:20px;margin-right:14px;line-height:18px}
.pageWrap .pic-left .page-other .other-more .title-word{float:left;font-size:18px;color:#333}
.pageWrap .pic-left .page-other .other-more .title-link{float:right;font-size:12px;color:#666}
.pageWrap .pic-left .page-other .other-more .more-list{margin-top:10px;margin-right:-10px}
.pageWrap .pic-left .page-other .other-more .more-list li{float:left;margin-right:10px;margin-bottom:10px;width:130px;height:195px}
.pageWrap .pic-left .pic-comment{margin:30px;margin-bottom:40px}
.pageWrap .pic-left .pic-comment .pic-number{font-size:18px;line-height:24px;color:#333}
.pageWrap .his-pic{padding-left:15px;padding-top:10px}
.pageWrap .his-pic .pic-title{font-size:18px;line-height:30px;vertical-align:middle;color:#333}
.pageWrap .his-pic ul li.item{width:120px;height:160px;float:left;margin-right:10px;margin-bottom:10px}
.pageWrap .his-pic ul li.item .imgDiv{width:120px;height:160px;overflow:hidden;text-align:center}
.pageWrap .his-pic ul li.item .imgDiv img{max-width:100%;height:100%;vertical-align:middle}
.pageWrap .kan-related{float:left;width:100%}
.pageWrap .kan-related .kan-related-item{padding-top:20px;font-size:16px;background-color:#f3f3f3;width:100%;font-family:'Microsoft Yahei',arial}
.pageWrap .kan-related .kan-related-item .kan-title{text-align:center;font-size:20px;line-height:40px;vertical-align:middle;font-weight:100}
.pageWrap .kan-related .kan-related-item .zw-itemListBox{width:100%;overflow:hidden}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .clearfix:after,.pageWrap .kan-related .kan-related-item .zw-itemListBox .clearfix:before{content:"020";height:0;display:block;visibility:hidden}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .clearfix:after{clear:both}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .clearfix{*zoom:1}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl{padding-left:5px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li{position:relative;width:230px;float:left;margin-right:7px;margin-bottom:10px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li img{vertical-align:top}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li .zw-pins{display:none}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li:hover{box-shadow:-2px 0 2px #e8e8e8,2px 0 2px #e8e8e8,0 3px 3px #a4a4a4}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li:hover .zw-btm-line{height:2px;width:228px;position:absolute;left:0;bottom:-1px;background:#f03}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li:hover .zw-btnHeart{display:none;cursor:pointer;position:absolute;top:10px;right:10px;width:32px;height:30px;background:url(../images/32-30.png) no-repeat}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl li:hover .zw-pins{text-decoration:none;position:absolute;top:0;left:0;display:block;-webkit-animation:fadeIn 2s linear 0s infinite;-moz-animation:fadeIn 2s linear 0s infinite;-ms-animation:fadeIn 2s linear 0s infinite;-o-animation:fadeIn 2s linear 0s infinite;animation:fadeIn 2s linear 0s infinite}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-imgBox{width:230px;height:304px;position:relative;overflow:hidden;text-align:center}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-imgBox .item-img{max-width:100%;height:100%;vertical-align:middle}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-btnHeart{display:none;cursor:pointer;position:absolute;top:10px;right:10px;width:32px;height:30px;background:url(../images/32-30.png) no-repeat}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-li{box-shadow:-2px 0 2px #e8e8e8,2px 0 2px #e8e8e8,0 3px 3px #a4a4a4}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-li .zw-btm-line{height:2px;width:228px;position:absolute;left:0;bottom:-1px;background:#f03}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-bottom{border-left:1px solid #e1dede;border-bottom:1px solid #e1dede;border-right:1px solid #e1dede;height:106px;position:relative}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p{padding:10px 0 12px 10px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p span{height:14px;color:#999;line-height:14px;cursor:pointer}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .xihuan{font-size:18px;color:#999;line-height:18px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .beixihuan{font-size:18px;color:#ff0035;line-height:18px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .beixihuan em.ifont{color:#f03}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .zw-like{float:left;text-decoration:none;padding-right:20px;padding-top:2px;color:#999;cursor:pointer}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .zw-like .like-count{font-size:12px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .zw-talk{float:left;color:#999;text-decoration:none}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .zw-talk span{font-size:18px;line-height:18px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p .zw-talk .like-count{font-size:12px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-p b{float:left;color:#b7b7b7;line-height:14px;margin-right:20px;font-weight:400}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-middle{padding-top:5px;padding-left:10px;font-size:12px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-middle .zw-logo{border-radius:15px;float:left;margin-right:5px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-middle .zw-word{float:left;color:#666;line-height:30px;text-decoration:none;width:72px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-middle .zw-date{color:#999;line-height:30px;float:right;padding-right:10px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-links{padding-left:10px;padding-top:10px;height:50px;overflow:hidden;font-size:12px}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-links a{float:left;color:#333;margin:0 10px 0 0;line-height:12px;padding:6px 7px;border-radius:2px;text-decoration:none;cursor:pointer}
.pageWrap .kan-related .kan-related-item .zw-itemListBox .zw-itemUl .zw-links a:hover{color:#fff;background:#f03}
.tab-box{width:400px}
.tab-box .tab-content{position:relative;height:600px}
.tab-box .tab-content .tab-pannel{width:400px;height:600px;text-align:center}
.tab-box .tab-content .tab-pannel img{height:100%}
.tab-box .slide-nav-left{position:absolute;top:45%;left:-80px;width:21px;height:39px;background:url(../images/1-21-39.png) no-repeat}
.tab-box .slide-nav-right{position:absolute;top:45%;right:-80px;width:21px;height:39px;background:url(../images/2-21-39.png) no-repeat}
.place-explain{font-size: 12px;padding: 20px 10px;margin-bottom: 10px;background: #fff;max-width: 1200px;}
.place-explain a {color: #5E5E5E;margin: 0 3px;}
.place-explain .bady-xx-seo{width: 435px;overflow: hidden;white-space: nowrap;}